* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: 0;
}

a {
  text-decoration: none;
  color: #333;
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url("/img/background_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrap {
  width: 100vw;
}
#wrap .cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  mix-blend-mode: difference;
  background: #fff;
  z-index: 999;
}
#wrap .active {
  width: 80px;
  height: 80px;
}
#wrap #loading-wrap {
  background-image: url("/img/loading.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
}
#wrap #loading-wrap #loading-imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#wrap #loading-wrap #loading-imgBox .loading-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  top: -20%;
  right: -18%;
  position: relative;
  backface-visibility: visible !important;
  -webkit-animation-name: flipIn;
  animation-duration: 1.3s;
  animation-fill-mode: both;
}
#wrap #loading-wrap #loading-imgBox .loading-img > img {
  width: 100%;
  position: absolute;
}
#wrap #loading-wrap #loading-textBox {
  top: 55%;
  right: 21%;
  position: absolute;
  -webkit-font-smoothing: antialiased;
}
#wrap #loading-wrap #loading-textBox > h1 {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  height: 100%;
  font-size: 50px;
}
#wrap #loading-wrap #loading-textBox > h1 > span {
  top: 50px;
  display: inline-block;
  position: relative;
  animation: bounce 0.3s ease infinite alternate;
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 0 #000000, 0 2px 0 #000000, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(2) {
  animation-delay: 0.1s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(3) {
  animation-delay: 0.2s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(4) {
  animation-delay: 0.3s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(5) {
  animation-delay: 0.4s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(6) {
  animation-delay: 0.5s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(7) {
  animation-delay: 0.6s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(8) {
  animation-delay: 0.7s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(9) {
  animation-delay: 0.8s;
}
#wrap #body-wrap {
  display: none;
}
#wrap #body-wrap > header {
  position: relative;
}
#wrap #body-wrap > header > img {
  position: absolute;
  width: 800px;
  height: 600px;
  top: -100px;
  right: -100px;
}
#wrap #body-wrap .svg-textWrap1 {
  width: 100%;
  height: 350px;
}
#wrap #body-wrap .svg-textWrap2 {
  width: 100%;
  height: 350px;
}
#wrap #body-wrap .svg-textWrap .svg1 {
  margin-top: 20px;
  padding-left: 20px;
  text-align: left;
}
#wrap #body-wrap .svg-textWrap .svg2 {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}
#wrap #body-wrap .svg-textWrap .svg3 {
  padding-left: 40px;
}
#wrap #body-wrap #profile {
  display: flex;
  justify-content: center;
  align-items: normal;
  width: 100%;
  height: 1000px;
}
#wrap #body-wrap #profile #inform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 800px;
  flex-direction: column;
}
#wrap #body-wrap #profile #inform #inform-img {
  width: 550px;
  height: 550px;
  border-radius: 49% 49% 0 0;
  border: double 8px black;
  margin-bottom: 15px;
  position: relative;
}
#wrap #body-wrap #profile #inform #inform-img > img {
  width: 100%;
  position: absolute;
}
#wrap #body-wrap #profile #inform #inform-text {
  width: 550px;
  height: 150px;
  border: double 8px black;
}
#wrap #body-wrap #profile #boards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 800px;
}
#wrap #body-wrap #profile #boards .board {
  width: 500px;
  height: 100px;
  background-color: brown;
  margin-bottom: 10px;
  margin-top: 10px;
}
#wrap #body-wrap #projects-wrap {
  width: 100%;
  overscroll-behavior: none;
  display: flex;
  flex-wrap: nowrap;
  background-color: pink;
}
#wrap #body-wrap #projects-wrap #menu {
  width: 400px;
  height: 900px;
  background-color: tomato;
}
#wrap #body-wrap #projects-wrap .project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1903px;
  height: 963px;
  background-color: pink;
  overflow: hidden;
}
#wrap #body-wrap #projects-wrap .project .screen {
  width: 1400px;
  height: 900px;
  background-color: gold;
  border: 4px solid black;
}

#only-fixed {
  width: 100%;
  z-index: 100;
  position: fixed;
}
#only-fixed #hand-img {
  width: 100%;
  height: 100vh;
  position: relative;
}
#only-fixed #hand-img > img {
  position: absolute;
  width: 800px;
  height: 600px;
  bottom: 0;
  right: 0;
}

#wave-wrap {
  width: 100%;
}

.waveBox {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}
.waveBox .wave {
  width: 100%;
  height: 70px;
  position: absolute;
  background-image: url("../img/wave_black.png");
  background-size: 1000px 70px;
}
.waveBox .wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.waveBox .wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.waveBox .wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.waveBox .wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

.waveBlock {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.particle-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.particle-container .particle {
  z-index: 1;
  opacity: 0;
  position: fixed;
  bottom: -10px;
  width: 10px;
  height: 10px;
  background-color: rgb(36, 36, 36);
  border-radius: 50%;
}
.particle-container .particle:nth-child(1) {
  left: 38%;
  animation: blow 17000ms infinite;
  animation-delay: 9134ms;
}
.particle-container .particle:nth-child(2) {
  left: 98%;
  animation: blow 17000ms infinite;
  animation-delay: 11779ms;
}
.particle-container .particle:nth-child(3) {
  left: 26%;
  animation: blow 17000ms infinite;
  animation-delay: 1357ms;
}
.particle-container .particle:nth-child(4) {
  left: 44%;
  animation: blow 17000ms infinite;
  animation-delay: 3375ms;
}
.particle-container .particle:nth-child(5) {
  left: 45%;
  animation: blow 17000ms infinite;
  animation-delay: 4881ms;
}
.particle-container .particle:nth-child(6) {
  left: 53%;
  animation: blow 17000ms infinite;
  animation-delay: 8047ms;
}
.particle-container .particle:nth-child(7) {
  left: 82%;
  animation: blow 17000ms infinite;
  animation-delay: 7460ms;
}
.particle-container .particle:nth-child(8) {
  left: 48%;
  animation: blow 17000ms infinite;
  animation-delay: 5774ms;
}
.particle-container .particle:nth-child(9) {
  left: 96%;
  animation: blow 17000ms infinite;
  animation-delay: 3139ms;
}
.particle-container .particle:nth-child(10) {
  left: 43%;
  animation: blow 17000ms infinite;
  animation-delay: 5117ms;
}
.particle-container .particle:nth-child(11) {
  left: 96%;
  animation: blow 18976ms infinite;
  animation-delay: 9253ms;
}
.particle-container .particle:nth-child(12) {
  left: 32%;
  animation: blow 17000ms infinite;
  animation-delay: 7000ms;
}
.particle-container .particle:nth-child(13) {
  left: 69%;
  animation: blow 17000ms infinite;
  animation-delay: 11571ms;
}
.particle-container .particle:nth-child(14) {
  left: 59%;
  animation: blow 17000ms infinite;
  animation-delay: 8878ms;
}
.particle-container .particle:nth-child(15) {
  left: 35%;
  animation: blow 17000ms infinite;
  animation-delay: 11535ms;
}
.particle-container .particle:nth-child(16) {
  left: 26%;
  animation: blow 17000ms infinite;
  animation-delay: 8505ms;
}
.particle-container .particle:nth-child(17) {
  left: 41%;
  animation: blow 17000ms infinite;
  animation-delay: 1058ms;
}
.particle-container .particle:nth-child(18) {
  left: 74%;
  animation: blow 17000ms infinite;
  animation-delay: 3397ms;
}
.particle-container .particle:nth-child(19) {
  left: 85%;
  animation: blow 17000ms infinite;
  animation-delay: 2176ms;
}
.particle-container .particle:nth-child(20) {
  left: 53%;
  animation: blow 19272ms infinite;
  animation-delay: 2939ms;
}
.particle-container .particle:nth-child(21) {
  left: 47%;
  animation: blow 17000ms infinite;
  animation-delay: 7644ms;
}
.particle-container .particle:nth-child(22) {
  left: 51%;
  animation: blow 17000ms infinite;
  animation-delay: 528ms;
}
.particle-container .particle:nth-child(23) {
  left: 17%;
  animation: blow 17000ms infinite;
  animation-delay: 8822ms;
}
.particle-container .particle:nth-child(24) {
  left: 64%;
  animation: blow 17000ms infinite;
  animation-delay: 7441ms;
}
.particle-container .particle:nth-child(25) {
  left: 16%;
  animation: blow 17000ms infinite;
  animation-delay: 467ms;
}
.particle-container .particle:nth-child(26) {
  left: 79%;
  animation: blow 17057ms infinite;
  animation-delay: 2642ms;
}
.particle-container .particle:nth-child(27) {
  left: 53%;
  animation: blow 17000ms infinite;
  animation-delay: 43ms;
}
.particle-container .particle:nth-child(28) {
  left: 35%;
  animation: blow 17000ms infinite;
  animation-delay: 4838ms;
}
.particle-container .particle:nth-child(29) {
  left: 35%;
  animation: blow 17000ms infinite;
  animation-delay: 9525ms;
}
.particle-container .particle:nth-child(30) {
  left: 40%;
  animation: blow 17000ms infinite;
  animation-delay: 5813ms;
}
.particle-container .particle:nth-child(31) {
  left: 58%;
  animation: blow 17000ms infinite;
  animation-delay: 11758ms;
}
.particle-container .particle:nth-child(32) {
  left: 25%;
  animation: blow 17000ms infinite;
  animation-delay: 8021ms;
}
.particle-container .particle:nth-child(33) {
  left: 36%;
  animation: blow 17000ms infinite;
  animation-delay: 7173ms;
}
.particle-container .particle:nth-child(34) {
  left: 74%;
  animation: blow 18676ms infinite;
  animation-delay: 8013ms;
}
.particle-container .particle:nth-child(35) {
  left: 30%;
  animation: blow 17000ms infinite;
  animation-delay: 10706ms;
}
.particle-container .particle:nth-child(36) {
  left: 11%;
  animation: blow 17000ms infinite;
  animation-delay: 11058ms;
}
.particle-container .particle:nth-child(37) {
  left: 40%;
  animation: blow 17000ms infinite;
  animation-delay: 5464ms;
}
.particle-container .particle:nth-child(38) {
  left: 84%;
  animation: blow 17000ms infinite;
  animation-delay: 10416ms;
}
.particle-container .particle:nth-child(39) {
  left: 72%;
  animation: blow 17000ms infinite;
  animation-delay: 399ms;
}
.particle-container .particle:nth-child(40) {
  left: 19%;
  animation: blow 17000ms infinite;
  animation-delay: 2676ms;
}
.particle-container .particle:nth-child(41) {
  left: 89%;
  animation: blow 17000ms infinite;
  animation-delay: 1200ms;
}
.particle-container .particle:nth-child(42) {
  left: 13%;
  animation: blow 17000ms infinite;
  animation-delay: 1480ms;
}
.particle-container .particle:nth-child(43) {
  left: 63%;
  animation: blow 17000ms infinite;
  animation-delay: 2799ms;
}
.particle-container .particle:nth-child(44) {
  left: 15%;
  animation: blow 17000ms infinite;
  animation-delay: 10769ms;
}
.particle-container .particle:nth-child(45) {
  left: 70%;
  animation: blow 17000ms infinite;
  animation-delay: 14725ms;
}
.particle-container .particle:nth-child(46) {
  left: 65%;
  animation: blow 17000ms infinite;
  animation-delay: 8949ms;
}
.particle-container .particle:nth-child(47) {
  left: 76%;
  animation: blow 17000ms infinite;
  animation-delay: 2726ms;
}
.particle-container .particle:nth-child(48) {
  left: 41%;
  animation: blow 17000ms infinite;
  animation-delay: 5799ms;
}
.particle-container .particle:nth-child(49) {
  left: 35%;
  animation: blow 17000ms infinite;
  animation-delay: 6199ms;
}
.particle-container .particle:nth-child(50) {
  left: 24%;
  animation: blow 17000ms infinite;
  animation-delay: 10029ms;
}
.particle-container .particle:nth-child(51) {
  left: 13%;
  animation: blow 17410ms infinite;
  animation-delay: 11405ms;
}
.particle-container .particle:nth-child(52) {
  left: 64%;
  animation: blow 17000ms infinite;
  animation-delay: 9981ms;
}
.particle-container .particle:nth-child(53) {
  left: 23%;
  animation: blow 19980ms infinite;
  animation-delay: 322ms;
}
.particle-container .particle:nth-child(54) {
  left: 40%;
  animation: blow 18537ms infinite;
  animation-delay: 8101ms;
}
.particle-container .particle:nth-child(55) {
  left: 77%;
  animation: blow 17290ms infinite;
  animation-delay: 4139ms;
}
.particle-container .particle:nth-child(56) {
  left: 64%;
  animation: blow 17000ms infinite;
  animation-delay: 10134ms;
}
.particle-container .particle:nth-child(57) {
  left: 85%;
  animation: blow 17000ms infinite;
  animation-delay: 12855ms;
}
.particle-container .particle:nth-child(58) {
  left: 62%;
  animation: blow 17000ms infinite;
  animation-delay: 11598ms;
}
.particle-container .particle:nth-child(59) {
  left: 11%;
  animation: blow 17000ms infinite;
  animation-delay: 10966ms;
}
.particle-container .particle:nth-child(60) {
  left: 25%;
  animation: blow 17000ms infinite;
  animation-delay: 13608ms;
}
.particle-container .particle:nth-child(61) {
  left: 13%;
  animation: blow 17000ms infinite;
  animation-delay: 4668ms;
}
.particle-container .particle:nth-child(62) {
  left: 57%;
  animation: blow 17000ms infinite;
  animation-delay: 264ms;
}
.particle-container .particle:nth-child(63) {
  left: 45%;
  animation: blow 17000ms infinite;
  animation-delay: 10786ms;
}
.particle-container .particle:nth-child(64) {
  left: 92%;
  animation: blow 17000ms infinite;
  animation-delay: 10741ms;
}
.particle-container .particle:nth-child(65) {
  left: 25%;
  animation: blow 18982ms infinite;
  animation-delay: 7502ms;
}
.particle-container .particle:nth-child(66) {
  left: 86%;
  animation: blow 17000ms infinite;
  animation-delay: 7008ms;
}
.particle-container .particle:nth-child(67) {
  left: 42%;
  animation: blow 17220ms infinite;
  animation-delay: 596ms;
}
.particle-container .particle:nth-child(68) {
  left: 9%;
  animation: blow 17000ms infinite;
  animation-delay: 12193ms;
}
.particle-container .particle:nth-child(69) {
  left: 2%;
  animation: blow 17000ms infinite;
  animation-delay: 10643ms;
}
.particle-container .particle:nth-child(70) {
  left: 61%;
  animation: blow 17000ms infinite;
  animation-delay: 12501ms;
}
.particle-container .particle:nth-child(71) {
  left: 3%;
  animation: blow 17000ms infinite;
  animation-delay: 5047ms;
}
.particle-container .particle:nth-child(72) {
  left: 73%;
  animation: blow 17000ms infinite;
  animation-delay: 5361ms;
}
.particle-container .particle:nth-child(73) {
  left: 26%;
  animation: blow 17000ms infinite;
  animation-delay: 2780ms;
}
.particle-container .particle:nth-child(74) {
  left: 84%;
  animation: blow 17000ms infinite;
  animation-delay: 4302ms;
}
.particle-container .particle:nth-child(75) {
  left: 66%;
  animation: blow 17000ms infinite;
  animation-delay: 712ms;
}
.particle-container .particle:nth-child(76) {
  left: 79%;
  animation: blow 17911ms infinite;
  animation-delay: 11712ms;
}
.particle-container .particle:nth-child(77) {
  left: 58%;
  animation: blow 17000ms infinite;
  animation-delay: 5206ms;
}
.particle-container .particle:nth-child(78) {
  left: 19%;
  animation: blow 17000ms infinite;
  animation-delay: 11320ms;
}
.particle-container .particle:nth-child(79) {
  left: 26%;
  animation: blow 17000ms infinite;
  animation-delay: 4025ms;
}
.particle-container .particle:nth-child(80) {
  left: 52%;
  animation: blow 17000ms infinite;
  animation-delay: 6569ms;
}
.particle-container .particle:nth-child(81) {
  left: 12%;
  animation: blow 17000ms infinite;
  animation-delay: 12340ms;
}
.particle-container .particle:nth-child(82) {
  left: 23%;
  animation: blow 17000ms infinite;
  animation-delay: 1092ms;
}
.particle-container .particle:nth-child(83) {
  left: 1%;
  animation: blow 17000ms infinite;
  animation-delay: 1496ms;
}
.particle-container .particle:nth-child(84) {
  left: 86%;
  animation: blow 17000ms infinite;
  animation-delay: 7202ms;
}
.particle-container .particle:nth-child(85) {
  left: 49%;
  animation: blow 17000ms infinite;
  animation-delay: 1523ms;
}
.particle-container .particle:nth-child(86) {
  left: 32%;
  animation: blow 17000ms infinite;
  animation-delay: 10206ms;
}
.particle-container .particle:nth-child(87) {
  left: 75%;
  animation: blow 19315ms infinite;
  animation-delay: 9283ms;
}
.particle-container .particle:nth-child(88) {
  left: 67%;
  animation: blow 17000ms infinite;
  animation-delay: 8710ms;
}
.particle-container .particle:nth-child(89) {
  left: 95%;
  animation: blow 18360ms infinite;
  animation-delay: 12767ms;
}
.particle-container .particle:nth-child(90) {
  left: 64%;
  animation: blow 17000ms infinite;
  animation-delay: 11992ms;
}
.particle-container .particle:nth-child(91) {
  left: 65%;
  animation: blow 17000ms infinite;
  animation-delay: 10477ms;
}
.particle-container .particle:nth-child(92) {
  left: 20%;
  animation: blow 19635ms infinite;
  animation-delay: 8932ms;
}
.particle-container .particle:nth-child(93) {
  left: 73%;
  animation: blow 17000ms infinite;
  animation-delay: 6189ms;
}
.particle-container .particle:nth-child(94) {
  left: 87%;
  animation: blow 18381ms infinite;
  animation-delay: 8793ms;
}
.particle-container .particle:nth-child(95) {
  left: 91%;
  animation: blow 17883ms infinite;
  animation-delay: 1654ms;
}
.particle-container .particle:nth-child(96) {
  left: 35%;
  animation: blow 17000ms infinite;
  animation-delay: 547ms;
}
.particle-container .particle:nth-child(97) {
  left: 80%;
  animation: blow 17000ms infinite;
  animation-delay: 2816ms;
}
.particle-container .particle:nth-child(98) {
  left: 17%;
  animation: blow 17000ms infinite;
  animation-delay: 1827ms;
}
.particle-container .particle:nth-child(99) {
  left: 69%;
  animation: blow 17000ms infinite;
  animation-delay: 6192ms;
}
.particle-container .particle:nth-child(100) {
  left: 91%;
  animation: blow 17000ms infinite;
  animation-delay: 3961ms;
}
.particle-container .particle:nth-child(101) {
  left: 81%;
  animation: blow 17000ms infinite;
  animation-delay: 4229ms;
}
.particle-container .particle:nth-child(102) {
  left: 80%;
  animation: blow 17000ms infinite;
  animation-delay: 8981ms;
}
.particle-container .particle:nth-child(103) {
  left: 3%;
  animation: blow 17000ms infinite;
  animation-delay: 868ms;
}
.particle-container .particle:nth-child(104) {
  left: 75%;
  animation: blow 17000ms infinite;
  animation-delay: 10283ms;
}
.particle-container .particle:nth-child(105) {
  left: 60%;
  animation: blow 17811ms infinite;
  animation-delay: 4196ms;
}
.particle-container .particle:nth-child(106) {
  left: 28%;
  animation: blow 17000ms infinite;
  animation-delay: 3787ms;
}
.particle-container .particle:nth-child(107) {
  left: 37%;
  animation: blow 17000ms infinite;
  animation-delay: 4688ms;
}
.particle-container .particle:nth-child(108) {
  left: 51%;
  animation: blow 17000ms infinite;
  animation-delay: 2094ms;
}
.particle-container .particle:nth-child(109) {
  left: 38%;
  animation: blow 17000ms infinite;
  animation-delay: 6032ms;
}
.particle-container .particle:nth-child(110) {
  left: 25%;
  animation: blow 17000ms infinite;
  animation-delay: 2690ms;
}
.particle-container .particle:nth-child(111) {
  left: 58%;
  animation: blow 17000ms infinite;
  animation-delay: 6600ms;
}
.particle-container .particle:nth-child(112) {
  left: 61%;
  animation: blow 17000ms infinite;
  animation-delay: 6227ms;
}
.particle-container .particle:nth-child(113) {
  left: 75%;
  animation: blow 17417ms infinite;
  animation-delay: 5021ms;
}
.particle-container .particle:nth-child(114) {
  left: 56%;
  animation: blow 17000ms infinite;
  animation-delay: 13093ms;
}
.particle-container .particle:nth-child(115) {
  left: 32%;
  animation: blow 17000ms infinite;
  animation-delay: 835ms;
}
.particle-container .particle:nth-child(116) {
  left: 9%;
  animation: blow 19659ms infinite;
  animation-delay: 6034ms;
}
.particle-container .particle:nth-child(117) {
  left: 81%;
  animation: blow 17000ms infinite;
  animation-delay: 14759ms;
}
.particle-container .particle:nth-child(118) {
  left: 40%;
  animation: blow 17000ms infinite;
  animation-delay: 13700ms;
}
.particle-container .particle:nth-child(119) {
  left: 31%;
  animation: blow 17000ms infinite;
  animation-delay: 5131ms;
}
.particle-container .particle:nth-child(120) {
  left: 27%;
  animation: blow 17000ms infinite;
  animation-delay: 9192ms;
}
.particle-container .particle:nth-child(121) {
  left: 16%;
  animation: blow 17000ms infinite;
  animation-delay: 7209ms;
}
.particle-container .particle:nth-child(122) {
  left: 6%;
  animation: blow 17000ms infinite;
  animation-delay: 9254ms;
}
.particle-container .particle:nth-child(123) {
  left: 35%;
  animation: blow 17000ms infinite;
  animation-delay: 14628ms;
}
.particle-container .particle:nth-child(124) {
  left: 88%;
  animation: blow 18303ms infinite;
  animation-delay: 14913ms;
}
.particle-container .particle:nth-child(125) {
  left: 22%;
  animation: blow 17000ms infinite;
  animation-delay: 2082ms;
}
.particle-container .particle:nth-child(126) {
  left: 3%;
  animation: blow 17000ms infinite;
  animation-delay: 13053ms;
}
.particle-container .particle:nth-child(127) {
  left: 33%;
  animation: blow 17000ms infinite;
  animation-delay: 7325ms;
}
.particle-container .particle:nth-child(128) {
  left: 40%;
  animation: blow 18296ms infinite;
  animation-delay: 9596ms;
}
.particle-container .particle:nth-child(129) {
  left: 17%;
  animation: blow 17000ms infinite;
  animation-delay: 11541ms;
}
.particle-container .particle:nth-child(130) {
  left: 96%;
  animation: blow 17000ms infinite;
  animation-delay: 6320ms;
}
.particle-container .particle:nth-child(131) {
  left: 47%;
  animation: blow 17000ms infinite;
  animation-delay: 14698ms;
}
.particle-container .particle:nth-child(132) {
  left: 58%;
  animation: blow 18825ms infinite;
  animation-delay: 7944ms;
}
.particle-container .particle:nth-child(133) {
  left: 73%;
  animation: blow 17000ms infinite;
  animation-delay: 2173ms;
}
.particle-container .particle:nth-child(134) {
  left: 61%;
  animation: blow 17000ms infinite;
  animation-delay: 11235ms;
}
.particle-container .particle:nth-child(135) {
  left: 41%;
  animation: blow 17000ms infinite;
  animation-delay: 10452ms;
}
.particle-container .particle:nth-child(136) {
  left: 45%;
  animation: blow 17000ms infinite;
  animation-delay: 5096ms;
}
.particle-container .particle:nth-child(137) {
  left: 6%;
  animation: blow 17000ms infinite;
  animation-delay: 2093ms;
}
.particle-container .particle:nth-child(138) {
  left: 43%;
  animation: blow 17000ms infinite;
  animation-delay: 13462ms;
}
.particle-container .particle:nth-child(139) {
  left: 55%;
  animation: blow 17000ms infinite;
  animation-delay: 612ms;
}
.particle-container .particle:nth-child(140) {
  left: 58%;
  animation: blow 17000ms infinite;
  animation-delay: 3791ms;
}
.particle-container .particle:nth-child(141) {
  left: 33%;
  animation: blow 17000ms infinite;
  animation-delay: 3182ms;
}
.particle-container .particle:nth-child(142) {
  left: 56%;
  animation: blow 17000ms infinite;
  animation-delay: 3854ms;
}
.particle-container .particle:nth-child(143) {
  left: 23%;
  animation: blow 17000ms infinite;
  animation-delay: 5307ms;
}
.particle-container .particle:nth-child(144) {
  left: 66%;
  animation: blow 17000ms infinite;
  animation-delay: 9655ms;
}
.particle-container .particle:nth-child(145) {
  left: 77%;
  animation: blow 17000ms infinite;
  animation-delay: 11334ms;
}
.particle-container .particle:nth-child(146) {
  left: 81%;
  animation: blow 17000ms infinite;
  animation-delay: 84ms;
}
.particle-container .particle:nth-child(147) {
  left: 91%;
  animation: blow 17000ms infinite;
  animation-delay: 4210ms;
}
.particle-container .particle:nth-child(148) {
  left: 25%;
  animation: blow 17000ms infinite;
  animation-delay: 2743ms;
}
.particle-container .particle:nth-child(149) {
  left: 24%;
  animation: blow 17000ms infinite;
  animation-delay: 1338ms;
}
.particle-container .particle:nth-child(150) {
  left: 42%;
  animation: blow 17000ms infinite;
  animation-delay: 5457ms;
}
.particle-container .particle:nth-child(151) {
  left: 83%;
  animation: blow 17000ms infinite;
  animation-delay: 12808ms;
}
.particle-container .particle:nth-child(152) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 2277ms;
}
.particle-container .particle:nth-child(153) {
  left: 8%;
  animation: blow 17000ms infinite;
  animation-delay: 1863ms;
}
.particle-container .particle:nth-child(154) {
  left: 81%;
  animation: blow 17000ms infinite;
  animation-delay: 1531ms;
}
.particle-container .particle:nth-child(155) {
  left: 91%;
  animation: blow 17000ms infinite;
  animation-delay: 12336ms;
}
.particle-container .particle:nth-child(156) {
  left: 86%;
  animation: blow 17000ms infinite;
  animation-delay: 8163ms;
}
.particle-container .particle:nth-child(157) {
  left: 66%;
  animation: blow 17000ms infinite;
  animation-delay: 14389ms;
}
.particle-container .particle:nth-child(158) {
  left: 71%;
  animation: blow 17000ms infinite;
  animation-delay: 5233ms;
}
.particle-container .particle:nth-child(159) {
  left: 3%;
  animation: blow 17479ms infinite;
  animation-delay: 14881ms;
}
.particle-container .particle:nth-child(160) {
  left: 49%;
  animation: blow 17000ms infinite;
  animation-delay: 623ms;
}
.particle-container .particle:nth-child(161) {
  left: 9%;
  animation: blow 17000ms infinite;
  animation-delay: 7640ms;
}
.particle-container .particle:nth-child(162) {
  left: 54%;
  animation: blow 17000ms infinite;
  animation-delay: 5528ms;
}
.particle-container .particle:nth-child(163) {
  left: 8%;
  animation: blow 17000ms infinite;
  animation-delay: 849ms;
}
.particle-container .particle:nth-child(164) {
  left: 95%;
  animation: blow 17951ms infinite;
  animation-delay: 12514ms;
}
.particle-container .particle:nth-child(165) {
  left: 49%;
  animation: blow 17000ms infinite;
  animation-delay: 7115ms;
}
.particle-container .particle:nth-child(166) {
  left: 50%;
  animation: blow 17000ms infinite;
  animation-delay: 6977ms;
}
.particle-container .particle:nth-child(167) {
  left: 96%;
  animation: blow 19924ms infinite;
  animation-delay: 1108ms;
}
.particle-container .particle:nth-child(168) {
  left: 91%;
  animation: blow 18707ms infinite;
  animation-delay: 6786ms;
}
.particle-container .particle:nth-child(169) {
  left: 42%;
  animation: blow 17000ms infinite;
  animation-delay: 3081ms;
}
.particle-container .particle:nth-child(170) {
  left: 48%;
  animation: blow 17000ms infinite;
  animation-delay: 3576ms;
}
.particle-container .particle:nth-child(171) {
  left: 85%;
  animation: blow 19038ms infinite;
  animation-delay: 9806ms;
}
.particle-container .particle:nth-child(172) {
  left: 47%;
  animation: blow 17000ms infinite;
  animation-delay: 6741ms;
}
.particle-container .particle:nth-child(173) {
  left: 13%;
  animation: blow 17000ms infinite;
  animation-delay: 8112ms;
}
.particle-container .particle:nth-child(174) {
  left: 88%;
  animation: blow 17000ms infinite;
  animation-delay: 8572ms;
}
.particle-container .particle:nth-child(175) {
  left: 87%;
  animation: blow 18109ms infinite;
  animation-delay: 12142ms;
}
.particle-container .particle:nth-child(176) {
  left: 7%;
  animation: blow 17000ms infinite;
  animation-delay: 5478ms;
}
.particle-container .particle:nth-child(177) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 7188ms;
}
.particle-container .particle:nth-child(178) {
  left: 16%;
  animation: blow 17000ms infinite;
  animation-delay: 4844ms;
}
.particle-container .particle:nth-child(179) {
  left: 58%;
  animation: blow 17000ms infinite;
  animation-delay: 7674ms;
}
.particle-container .particle:nth-child(180) {
  left: 70%;
  animation: blow 17000ms infinite;
  animation-delay: 8606ms;
}
.particle-container .particle:nth-child(181) {
  left: 89%;
  animation: blow 17000ms infinite;
  animation-delay: 1691ms;
}
.particle-container .particle:nth-child(182) {
  left: 81%;
  animation: blow 17000ms infinite;
  animation-delay: 4397ms;
}
.particle-container .particle:nth-child(183) {
  left: 79%;
  animation: blow 17000ms infinite;
  animation-delay: 2133ms;
}
.particle-container .particle:nth-child(184) {
  left: 100%;
  animation: blow 17000ms infinite;
  animation-delay: 3706ms;
}
.particle-container .particle:nth-child(185) {
  left: 1%;
  animation: blow 17000ms infinite;
  animation-delay: 13601ms;
}
.particle-container .particle:nth-child(186) {
  left: 4%;
  animation: blow 17000ms infinite;
  animation-delay: 2467ms;
}
.particle-container .particle:nth-child(187) {
  left: 56%;
  animation: blow 17000ms infinite;
  animation-delay: 5374ms;
}
.particle-container .particle:nth-child(188) {
  left: 100%;
  animation: blow 17000ms infinite;
  animation-delay: 1072ms;
}
.particle-container .particle:nth-child(189) {
  left: 25%;
  animation: blow 17420ms infinite;
  animation-delay: 9523ms;
}
.particle-container .particle:nth-child(190) {
  left: 77%;
  animation: blow 17000ms infinite;
  animation-delay: 10989ms;
}
.particle-container .particle:nth-child(191) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 14971ms;
}
.particle-container .particle:nth-child(192) {
  left: 26%;
  animation: blow 18274ms infinite;
  animation-delay: 4348ms;
}
.particle-container .particle:nth-child(193) {
  left: 42%;
  animation: blow 17000ms infinite;
  animation-delay: 9267ms;
}
.particle-container .particle:nth-child(194) {
  left: 57%;
  animation: blow 18555ms infinite;
  animation-delay: 14662ms;
}
.particle-container .particle:nth-child(195) {
  left: 18%;
  animation: blow 17000ms infinite;
  animation-delay: 13458ms;
}
.particle-container .particle:nth-child(196) {
  left: 13%;
  animation: blow 17000ms infinite;
  animation-delay: 1936ms;
}
.particle-container .particle:nth-child(197) {
  left: 1%;
  animation: blow 17000ms infinite;
  animation-delay: 4785ms;
}
.particle-container .particle:nth-child(198) {
  left: 8%;
  animation: blow 17000ms infinite;
  animation-delay: 7827ms;
}
.particle-container .particle:nth-child(199) {
  left: 6%;
  animation: blow 17000ms infinite;
  animation-delay: 6104ms;
}
.particle-container .particle:nth-child(200) {
  left: 100%;
  animation: blow 19173ms infinite;
  animation-delay: 8612ms;
}

@keyframes flipIn {
  0% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
  }
  40% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
  80% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    transform: perspective(1000px);
  }
}
@keyframes bounce {
  100% {
    top: 5px;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -600px) scale(0.2);
  }
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
}