* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrap {
  transition: all 0.5s;
}
#wrap #border {
  width: 98%;
  height: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(255, 255, 255);
  mix-blend-mode: difference;
  z-index: 1;
  border-radius: 20px;
}
#wrap .cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  mix-blend-mode: difference;
  background: #fff;
  z-index: 999;
}
#wrap .active {
  transform: scale(10);
}
#wrap .active2 {
  transform: scale(4);
}
#wrap #loading-wrap {
  height: 100vh;
  width: 100%;
  display: block;
  overflow: hidden;
  margin-top: 0px;
  top: 0%;
  background-color: #fff;
}
#wrap #loading-wrap .loadding-page {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;
  position: absolute;
  top: 0px;
  z-index: 9999;
}
#wrap #loading-wrap .cssload-box-loading {
  width: 49px;
  height: 49px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -120px;
  bottom: 0;
}
#wrap #loading-wrap .cssload-box-loading::before {
  content: "";
  width: 49px;
  height: 5px;
  background: #000000;
  opacity: 0.1;
  position: absolute;
  top: 58px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.58s linear infinite;
  -o-animation: shadow 0.58s linear infinite;
  -ms-animation: shadow 0.58s linear infinite;
  -webkit-animation: shadow 0.58s linear infinite;
  -moz-animation: shadow 0.58s linear infinite;
}
#wrap #loading-wrap .cssload-box-loading::after {
  content: "";
  width: 49px;
  height: 49px;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  animation: cssload-animate 0.58s linear infinite;
  -o-animation: cssload-animate 0.58s linear infinite;
  -ms-animation: cssload-animate 0.58s linear infinite;
  -webkit-animation: cssload-animate 0.58s linear infinite;
  -moz-animation: cssload-animate 0.58s linear infinite;
}
#wrap #loading-wrap #loading-textBox {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-font-smoothing: antialiased;
}
#wrap #loading-wrap #loading-textBox > h1 {
  font-family: "S-CoreDream-3Light";
  height: 100%;
  font-size: 50px;
}
#wrap #loading-wrap #loading-textBox > h1 > span {
  top: 50px;
  display: inline-block;
  position: relative;
  animation: bounce 0.3s ease infinite alternate;
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 0 #000000, 0 2px 0 #000000, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(2) {
  animation-delay: 0.1s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(3) {
  animation-delay: 0.2s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(4) {
  animation-delay: 0.3s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(5) {
  animation-delay: 0.4s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(6) {
  animation-delay: 0.5s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(7) {
  animation-delay: 0.6s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(8) {
  animation-delay: 0.7s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(9) {
  animation-delay: 0.8s;
}
#wrap #body-wrap {
  display: none;
}
#wrap #body-wrap > header {
  position: relative;
}
#wrap #body-wrap > header > img {
  position: fixed;
  width: 800px;
  height: 950px;
  top: -100px;
  right: -100px;
  transform: rotate(50deg);
}
#wrap #body-wrap #projects-wrap {
  width: 100%;
  overflow-x: hidden;
}
#wrap #body-wrap #projects-wrap .project-gsap {
  width: 400%;
  overscroll-behavior: none;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  overflow: visible;
}
#wrap #body-wrap #projects-wrap .project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 963px;
  padding-left: 50px;
}
#wrap #body-wrap #projects-wrap .project .screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 911px;
  position: relative;
}
#wrap #body-wrap #projects-wrap .project .screen-text {
  font-family: "S-CoreDream-3Light";
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  width: 550px;
  height: 800px;
  padding: 50px;
  margin: 20px;
  color: #fff;
}
#wrap #body-wrap #projects-wrap .project .screen-text .span {
  font-family: "JalnanGothic";
  top: 40px;
  opacity: 0.2;
  font-size: 20rem;
  font-weight: 900;
  position: absolute;
}
#wrap #body-wrap #projects-wrap .project .screen-text > h1 {
  font-family: "JalnanGothic";
  width: 500px;
  font-size: 3.2rem;
  margin-bottom: 30px;
}
#wrap #body-wrap #projects-wrap .project .screen-text > h1 > span {
  font-family: "S-CoreDream-3Light";
  font-size: 1.2rem;
}
#wrap #body-wrap #projects-wrap .project .screen-text > p {
  font-size: 0.95rem;
  padding: 20px 0px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}
#wrap #body-wrap #projects-wrap .project .screen-text .use {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
#wrap #body-wrap #projects-wrap .project .screen-text .use > li {
  font-size: 1.2rem;
  margin-right: 30px;
  margin-bottom: 10px;
}
#wrap #body-wrap #projects-wrap .project .screen-text .buttonBox {
  margin-top: 40px;
}
#wrap #body-wrap #projects-wrap .project .screen-text .buttonBox > button {
  width: 100px;
  height: 100px;
  background-color: transparent;
  transition: all 0.5s;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 30px;
  mix-blend-mode: difference;
  color: #fff;
}
#wrap #body-wrap #projects-wrap .project .screen-text .buttonBox > button:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
#wrap #body-wrap #projects-wrap .project .screen-text .buttonBox > a {
  padding: 38px 10px;
  background-color: transparent;
  transition: all 0.5s;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 30px;
  color: #fff;
}
#wrap #body-wrap #projects-wrap .project .screen-text .buttonBox > a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
#wrap #body-wrap #projects-wrap .project .screen-view {
  width: 1200px;
  height: 100%;
  background-color: rgb(188, 114, 127);
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
#wrap #body-wrap #projects-wrap .project .screen-view > img {
  width: 100%;
  top: 0px;
  position: absolute;
}
#wrap #body-wrap #footer {
  font-family: "S-CoreDream-3Light";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#wrap #body-wrap #footer #footer-text {
  color: black;
  position: absolute;
  right: 100px;
}
#wrap #body-wrap #footer #footer-text > div {
  margin-bottom: 40px;
}
#wrap #body-wrap #footer #footer-text > div > h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
#wrap #body-wrap #footer #footer-text > div > h3 {
  font-size: 1.3rem;
}
#wrap #body-wrap .svg-textWrap {
  width: 100%;
  height: 100vh;
  position: relative;
}
#wrap #body-wrap .svg-textWrap .svg {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

#only-fixed {
  width: 100%;
  z-index: 800;
  position: fixed;
}
#only-fixed > img {
  position: fixed;
  width: 800px;
  height: 950px;
  top: -100px;
  right: -100px;
  transform: rotate(50deg);
}

#wave-wrap {
  width: 100%;
}

.waveBox {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}
.waveBox .wave {
  width: 100%;
  height: 70px;
  position: absolute;
  background-image: url("../img/wave_black.png");
  background-size: 1000px 70px;
  z-index: 999;
}
.waveBox .wave1 {
  animation: animate 30s linear infinite;
  z-index: 8;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
  mix-blend-mode: difference;
}
.waveBox .wave2 {
  animation: animate2 15s linear infinite;
  z-index: 7;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.waveBox .wave3 {
  animation: animate 30s linear infinite;
  z-index: 6;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.waveBox .wave4 {
  animation: animate2 5s linear infinite;
  z-index: 5;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
  mix-blend-mode: difference;
}

.waveBlock {
  width: 100%;
  height: 2000px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.particle-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.particle-container .particle {
  z-index: 1;
  opacity: 0;
  position: fixed;
  bottom: -10px;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.particle-container .particle:nth-child(1) {
  left: 4%;
  animation: blow 17000ms infinite;
  animation-delay: 7324ms;
}
.particle-container .particle:nth-child(2) {
  left: 82%;
  animation: blow 17000ms infinite;
  animation-delay: 8531ms;
}
.particle-container .particle:nth-child(3) {
  left: 95%;
  animation: blow 17000ms infinite;
  animation-delay: 13436ms;
}
.particle-container .particle:nth-child(4) {
  left: 81%;
  animation: blow 17000ms infinite;
  animation-delay: 1618ms;
}
.particle-container .particle:nth-child(5) {
  left: 1%;
  animation: blow 17000ms infinite;
  animation-delay: 2956ms;
}
.particle-container .particle:nth-child(6) {
  left: 33%;
  animation: blow 17000ms infinite;
  animation-delay: 14268ms;
}
.particle-container .particle:nth-child(7) {
  left: 86%;
  animation: blow 19363ms infinite;
  animation-delay: 6602ms;
}
.particle-container .particle:nth-child(8) {
  left: 26%;
  animation: blow 17000ms infinite;
  animation-delay: 4517ms;
}
.particle-container .particle:nth-child(9) {
  left: 63%;
  animation: blow 17711ms infinite;
  animation-delay: 14798ms;
}
.particle-container .particle:nth-child(10) {
  left: 53%;
  animation: blow 17000ms infinite;
  animation-delay: 7522ms;
}
.particle-container .particle:nth-child(11) {
  left: 52%;
  animation: blow 17000ms infinite;
  animation-delay: 2804ms;
}
.particle-container .particle:nth-child(12) {
  left: 43%;
  animation: blow 17000ms infinite;
  animation-delay: 8982ms;
}
.particle-container .particle:nth-child(13) {
  left: 7%;
  animation: blow 17000ms infinite;
  animation-delay: 8454ms;
}
.particle-container .particle:nth-child(14) {
  left: 16%;
  animation: blow 17000ms infinite;
  animation-delay: 14502ms;
}
.particle-container .particle:nth-child(15) {
  left: 61%;
  animation: blow 17000ms infinite;
  animation-delay: 3094ms;
}
.particle-container .particle:nth-child(16) {
  left: 77%;
  animation: blow 17000ms infinite;
  animation-delay: 2493ms;
}
.particle-container .particle:nth-child(17) {
  left: 23%;
  animation: blow 17000ms infinite;
  animation-delay: 13182ms;
}
.particle-container .particle:nth-child(18) {
  left: 15%;
  animation: blow 17679ms infinite;
  animation-delay: 788ms;
}
.particle-container .particle:nth-child(19) {
  left: 42%;
  animation: blow 17023ms infinite;
  animation-delay: 12393ms;
}
.particle-container .particle:nth-child(20) {
  left: 60%;
  animation: blow 17911ms infinite;
  animation-delay: 7779ms;
}
.particle-container .particle:nth-child(21) {
  left: 60%;
  animation: blow 17000ms infinite;
  animation-delay: 10403ms;
}
.particle-container .particle:nth-child(22) {
  left: 61%;
  animation: blow 17000ms infinite;
  animation-delay: 7406ms;
}
.particle-container .particle:nth-child(23) {
  left: 78%;
  animation: blow 17000ms infinite;
  animation-delay: 2864ms;
}
.particle-container .particle:nth-child(24) {
  left: 10%;
  animation: blow 17000ms infinite;
  animation-delay: 9626ms;
}
.particle-container .particle:nth-child(25) {
  left: 31%;
  animation: blow 17000ms infinite;
  animation-delay: 2295ms;
}
.particle-container .particle:nth-child(26) {
  left: 90%;
  animation: blow 17000ms infinite;
  animation-delay: 13645ms;
}
.particle-container .particle:nth-child(27) {
  left: 39%;
  animation: blow 17000ms infinite;
  animation-delay: 1991ms;
}
.particle-container .particle:nth-child(28) {
  left: 53%;
  animation: blow 17000ms infinite;
  animation-delay: 13350ms;
}
.particle-container .particle:nth-child(29) {
  left: 58%;
  animation: blow 17000ms infinite;
  animation-delay: 11820ms;
}
.particle-container .particle:nth-child(30) {
  left: 9%;
  animation: blow 17000ms infinite;
  animation-delay: 1151ms;
}
.particle-container .particle:nth-child(31) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 7226ms;
}
.particle-container .particle:nth-child(32) {
  left: 36%;
  animation: blow 17000ms infinite;
  animation-delay: 3916ms;
}
.particle-container .particle:nth-child(33) {
  left: 20%;
  animation: blow 17000ms infinite;
  animation-delay: 12496ms;
}
.particle-container .particle:nth-child(34) {
  left: 86%;
  animation: blow 19938ms infinite;
  animation-delay: 13767ms;
}
.particle-container .particle:nth-child(35) {
  left: 93%;
  animation: blow 19502ms infinite;
  animation-delay: 7059ms;
}
.particle-container .particle:nth-child(36) {
  left: 86%;
  animation: blow 17000ms infinite;
  animation-delay: 11105ms;
}
.particle-container .particle:nth-child(37) {
  left: 66%;
  animation: blow 17000ms infinite;
  animation-delay: 10390ms;
}
.particle-container .particle:nth-child(38) {
  left: 42%;
  animation: blow 17000ms infinite;
  animation-delay: 4954ms;
}
.particle-container .particle:nth-child(39) {
  left: 56%;
  animation: blow 17000ms infinite;
  animation-delay: 7233ms;
}
.particle-container .particle:nth-child(40) {
  left: 30%;
  animation: blow 17000ms infinite;
  animation-delay: 13997ms;
}
.particle-container .particle:nth-child(41) {
  left: 85%;
  animation: blow 17000ms infinite;
  animation-delay: 2347ms;
}
.particle-container .particle:nth-child(42) {
  left: 21%;
  animation: blow 17000ms infinite;
  animation-delay: 9662ms;
}
.particle-container .particle:nth-child(43) {
  left: 67%;
  animation: blow 17000ms infinite;
  animation-delay: 528ms;
}
.particle-container .particle:nth-child(44) {
  left: 71%;
  animation: blow 17837ms infinite;
  animation-delay: 1682ms;
}
.particle-container .particle:nth-child(45) {
  left: 100%;
  animation: blow 17000ms infinite;
  animation-delay: 2358ms;
}
.particle-container .particle:nth-child(46) {
  left: 87%;
  animation: blow 17000ms infinite;
  animation-delay: 12730ms;
}
.particle-container .particle:nth-child(47) {
  left: 96%;
  animation: blow 17000ms infinite;
  animation-delay: 5186ms;
}
.particle-container .particle:nth-child(48) {
  left: 62%;
  animation: blow 19315ms infinite;
  animation-delay: 9371ms;
}
.particle-container .particle:nth-child(49) {
  left: 9%;
  animation: blow 17000ms infinite;
  animation-delay: 12172ms;
}
.particle-container .particle:nth-child(50) {
  left: 68%;
  animation: blow 17000ms infinite;
  animation-delay: 1146ms;
}
.particle-container .particle:nth-child(51) {
  left: 24%;
  animation: blow 17000ms infinite;
  animation-delay: 4768ms;
}
.particle-container .particle:nth-child(52) {
  left: 13%;
  animation: blow 17000ms infinite;
  animation-delay: 251ms;
}
.particle-container .particle:nth-child(53) {
  left: 48%;
  animation: blow 17000ms infinite;
  animation-delay: 1186ms;
}
.particle-container .particle:nth-child(54) {
  left: 100%;
  animation: blow 17000ms infinite;
  animation-delay: 12474ms;
}
.particle-container .particle:nth-child(55) {
  left: 50%;
  animation: blow 17394ms infinite;
  animation-delay: 2091ms;
}
.particle-container .particle:nth-child(56) {
  left: 52%;
  animation: blow 17000ms infinite;
  animation-delay: 5659ms;
}
.particle-container .particle:nth-child(57) {
  left: 55%;
  animation: blow 19498ms infinite;
  animation-delay: 1970ms;
}
.particle-container .particle:nth-child(58) {
  left: 91%;
  animation: blow 17000ms infinite;
  animation-delay: 2160ms;
}
.particle-container .particle:nth-child(59) {
  left: 92%;
  animation: blow 17000ms infinite;
  animation-delay: 14309ms;
}
.particle-container .particle:nth-child(60) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 7947ms;
}
.particle-container .particle:nth-child(61) {
  left: 23%;
  animation: blow 17000ms infinite;
  animation-delay: 11755ms;
}
.particle-container .particle:nth-child(62) {
  left: 60%;
  animation: blow 17000ms infinite;
  animation-delay: 5655ms;
}
.particle-container .particle:nth-child(63) {
  left: 22%;
  animation: blow 18993ms infinite;
  animation-delay: 3263ms;
}
.particle-container .particle:nth-child(64) {
  left: 16%;
  animation: blow 17000ms infinite;
  animation-delay: 6207ms;
}
.particle-container .particle:nth-child(65) {
  left: 15%;
  animation: blow 17000ms infinite;
  animation-delay: 4318ms;
}
.particle-container .particle:nth-child(66) {
  left: 22%;
  animation: blow 17000ms infinite;
  animation-delay: 2984ms;
}
.particle-container .particle:nth-child(67) {
  left: 82%;
  animation: blow 17000ms infinite;
  animation-delay: 11247ms;
}
.particle-container .particle:nth-child(68) {
  left: 24%;
  animation: blow 17000ms infinite;
  animation-delay: 13923ms;
}
.particle-container .particle:nth-child(69) {
  left: 28%;
  animation: blow 17000ms infinite;
  animation-delay: 7502ms;
}
.particle-container .particle:nth-child(70) {
  left: 84%;
  animation: blow 17000ms infinite;
  animation-delay: 11956ms;
}
.particle-container .particle:nth-child(71) {
  left: 28%;
  animation: blow 17033ms infinite;
  animation-delay: 11086ms;
}
.particle-container .particle:nth-child(72) {
  left: 93%;
  animation: blow 17000ms infinite;
  animation-delay: 14761ms;
}
.particle-container .particle:nth-child(73) {
  left: 94%;
  animation: blow 17207ms infinite;
  animation-delay: 13816ms;
}
.particle-container .particle:nth-child(74) {
  left: 59%;
  animation: blow 17000ms infinite;
  animation-delay: 8055ms;
}
.particle-container .particle:nth-child(75) {
  left: 93%;
  animation: blow 17000ms infinite;
  animation-delay: 2871ms;
}
.particle-container .particle:nth-child(76) {
  left: 90%;
  animation: blow 17000ms infinite;
  animation-delay: 608ms;
}
.particle-container .particle:nth-child(77) {
  left: 61%;
  animation: blow 19511ms infinite;
  animation-delay: 3574ms;
}
.particle-container .particle:nth-child(78) {
  left: 29%;
  animation: blow 17000ms infinite;
  animation-delay: 2895ms;
}
.particle-container .particle:nth-child(79) {
  left: 18%;
  animation: blow 17000ms infinite;
  animation-delay: 10982ms;
}
.particle-container .particle:nth-child(80) {
  left: 95%;
  animation: blow 17000ms infinite;
  animation-delay: 3235ms;
}
.particle-container .particle:nth-child(81) {
  left: 20%;
  animation: blow 17000ms infinite;
  animation-delay: 9857ms;
}
.particle-container .particle:nth-child(82) {
  left: 21%;
  animation: blow 17000ms infinite;
  animation-delay: 373ms;
}
.particle-container .particle:nth-child(83) {
  left: 62%;
  animation: blow 17000ms infinite;
  animation-delay: 13458ms;
}
.particle-container .particle:nth-child(84) {
  left: 7%;
  animation: blow 17000ms infinite;
  animation-delay: 10388ms;
}
.particle-container .particle:nth-child(85) {
  left: 12%;
  animation: blow 17000ms infinite;
  animation-delay: 7697ms;
}
.particle-container .particle:nth-child(86) {
  left: 19%;
  animation: blow 19647ms infinite;
  animation-delay: 6280ms;
}
.particle-container .particle:nth-child(87) {
  left: 57%;
  animation: blow 17000ms infinite;
  animation-delay: 5791ms;
}
.particle-container .particle:nth-child(88) {
  left: 100%;
  animation: blow 17000ms infinite;
  animation-delay: 9667ms;
}
.particle-container .particle:nth-child(89) {
  left: 78%;
  animation: blow 17000ms infinite;
  animation-delay: 1624ms;
}
.particle-container .particle:nth-child(90) {
  left: 84%;
  animation: blow 17000ms infinite;
  animation-delay: 7110ms;
}
.particle-container .particle:nth-child(91) {
  left: 78%;
  animation: blow 17000ms infinite;
  animation-delay: 14442ms;
}
.particle-container .particle:nth-child(92) {
  left: 4%;
  animation: blow 17000ms infinite;
  animation-delay: 10902ms;
}
.particle-container .particle:nth-child(93) {
  left: 3%;
  animation: blow 17000ms infinite;
  animation-delay: 10182ms;
}
.particle-container .particle:nth-child(94) {
  left: 90%;
  animation: blow 17000ms infinite;
  animation-delay: 9768ms;
}
.particle-container .particle:nth-child(95) {
  left: 19%;
  animation: blow 17903ms infinite;
  animation-delay: 14450ms;
}
.particle-container .particle:nth-child(96) {
  left: 71%;
  animation: blow 17000ms infinite;
  animation-delay: 3598ms;
}
.particle-container .particle:nth-child(97) {
  left: 73%;
  animation: blow 17000ms infinite;
  animation-delay: 6227ms;
}
.particle-container .particle:nth-child(98) {
  left: 56%;
  animation: blow 17000ms infinite;
  animation-delay: 13653ms;
}
.particle-container .particle:nth-child(99) {
  left: 88%;
  animation: blow 17000ms infinite;
  animation-delay: 7607ms;
}
.particle-container .particle:nth-child(100) {
  left: 26%;
  animation: blow 17000ms infinite;
  animation-delay: 12989ms;
}
.particle-container .particle:nth-child(101) {
  left: 23%;
  animation: blow 17000ms infinite;
  animation-delay: 13146ms;
}
.particle-container .particle:nth-child(102) {
  left: 30%;
  animation: blow 17000ms infinite;
  animation-delay: 14781ms;
}
.particle-container .particle:nth-child(103) {
  left: 36%;
  animation: blow 17000ms infinite;
  animation-delay: 7285ms;
}
.particle-container .particle:nth-child(104) {
  left: 29%;
  animation: blow 17000ms infinite;
  animation-delay: 8947ms;
}
.particle-container .particle:nth-child(105) {
  left: 69%;
  animation: blow 17000ms infinite;
  animation-delay: 9512ms;
}
.particle-container .particle:nth-child(106) {
  left: 81%;
  animation: blow 17000ms infinite;
  animation-delay: 11388ms;
}
.particle-container .particle:nth-child(107) {
  left: 38%;
  animation: blow 17000ms infinite;
  animation-delay: 11487ms;
}
.particle-container .particle:nth-child(108) {
  left: 87%;
  animation: blow 17000ms infinite;
  animation-delay: 6912ms;
}
.particle-container .particle:nth-child(109) {
  left: 8%;
  animation: blow 17000ms infinite;
  animation-delay: 13609ms;
}
.particle-container .particle:nth-child(110) {
  left: 45%;
  animation: blow 17000ms infinite;
  animation-delay: 1700ms;
}
.particle-container .particle:nth-child(111) {
  left: 66%;
  animation: blow 17000ms infinite;
  animation-delay: 14490ms;
}
.particle-container .particle:nth-child(112) {
  left: 26%;
  animation: blow 17000ms infinite;
  animation-delay: 9454ms;
}
.particle-container .particle:nth-child(113) {
  left: 100%;
  animation: blow 17000ms infinite;
  animation-delay: 1311ms;
}
.particle-container .particle:nth-child(114) {
  left: 62%;
  animation: blow 17000ms infinite;
  animation-delay: 13097ms;
}
.particle-container .particle:nth-child(115) {
  left: 98%;
  animation: blow 17000ms infinite;
  animation-delay: 11139ms;
}
.particle-container .particle:nth-child(116) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 6284ms;
}
.particle-container .particle:nth-child(117) {
  left: 25%;
  animation: blow 17000ms infinite;
  animation-delay: 3864ms;
}
.particle-container .particle:nth-child(118) {
  left: 74%;
  animation: blow 17000ms infinite;
  animation-delay: 14608ms;
}
.particle-container .particle:nth-child(119) {
  left: 54%;
  animation: blow 17000ms infinite;
  animation-delay: 7149ms;
}
.particle-container .particle:nth-child(120) {
  left: 14%;
  animation: blow 17000ms infinite;
  animation-delay: 12191ms;
}
.particle-container .particle:nth-child(121) {
  left: 65%;
  animation: blow 17000ms infinite;
  animation-delay: 6095ms;
}
.particle-container .particle:nth-child(122) {
  left: 93%;
  animation: blow 17000ms infinite;
  animation-delay: 11845ms;
}
.particle-container .particle:nth-child(123) {
  left: 29%;
  animation: blow 17000ms infinite;
  animation-delay: 2272ms;
}
.particle-container .particle:nth-child(124) {
  left: 88%;
  animation: blow 17000ms infinite;
  animation-delay: 13022ms;
}
.particle-container .particle:nth-child(125) {
  left: 24%;
  animation: blow 17279ms infinite;
  animation-delay: 7235ms;
}
.particle-container .particle:nth-child(126) {
  left: 67%;
  animation: blow 18170ms infinite;
  animation-delay: 2375ms;
}
.particle-container .particle:nth-child(127) {
  left: 57%;
  animation: blow 17000ms infinite;
  animation-delay: 2520ms;
}
.particle-container .particle:nth-child(128) {
  left: 26%;
  animation: blow 17000ms infinite;
  animation-delay: 12909ms;
}
.particle-container .particle:nth-child(129) {
  left: 74%;
  animation: blow 19532ms infinite;
  animation-delay: 3330ms;
}
.particle-container .particle:nth-child(130) {
  left: 31%;
  animation: blow 17000ms infinite;
  animation-delay: 3973ms;
}
.particle-container .particle:nth-child(131) {
  left: 10%;
  animation: blow 17307ms infinite;
  animation-delay: 46ms;
}
.particle-container .particle:nth-child(132) {
  left: 61%;
  animation: blow 17000ms infinite;
  animation-delay: 11321ms;
}
.particle-container .particle:nth-child(133) {
  left: 29%;
  animation: blow 17000ms infinite;
  animation-delay: 4084ms;
}
.particle-container .particle:nth-child(134) {
  left: 66%;
  animation: blow 17000ms infinite;
  animation-delay: 3275ms;
}
.particle-container .particle:nth-child(135) {
  left: 23%;
  animation: blow 18658ms infinite;
  animation-delay: 13827ms;
}
.particle-container .particle:nth-child(136) {
  left: 61%;
  animation: blow 19803ms infinite;
  animation-delay: 6256ms;
}
.particle-container .particle:nth-child(137) {
  left: 69%;
  animation: blow 17000ms infinite;
  animation-delay: 12751ms;
}
.particle-container .particle:nth-child(138) {
  left: 77%;
  animation: blow 17000ms infinite;
  animation-delay: 2354ms;
}
.particle-container .particle:nth-child(139) {
  left: 54%;
  animation: blow 17000ms infinite;
  animation-delay: 4152ms;
}
.particle-container .particle:nth-child(140) {
  left: 51%;
  animation: blow 17000ms infinite;
  animation-delay: 7480ms;
}
.particle-container .particle:nth-child(141) {
  left: 83%;
  animation: blow 17000ms infinite;
  animation-delay: 6421ms;
}
.particle-container .particle:nth-child(142) {
  left: 69%;
  animation: blow 17000ms infinite;
  animation-delay: 4770ms;
}
.particle-container .particle:nth-child(143) {
  left: 82%;
  animation: blow 19943ms infinite;
  animation-delay: 13310ms;
}
.particle-container .particle:nth-child(144) {
  left: 83%;
  animation: blow 18252ms infinite;
  animation-delay: 1970ms;
}
.particle-container .particle:nth-child(145) {
  left: 66%;
  animation: blow 17000ms infinite;
  animation-delay: 4711ms;
}
.particle-container .particle:nth-child(146) {
  left: 8%;
  animation: blow 17000ms infinite;
  animation-delay: 5730ms;
}
.particle-container .particle:nth-child(147) {
  left: 49%;
  animation: blow 17000ms infinite;
  animation-delay: 10363ms;
}
.particle-container .particle:nth-child(148) {
  left: 53%;
  animation: blow 17000ms infinite;
  animation-delay: 2416ms;
}
.particle-container .particle:nth-child(149) {
  left: 17%;
  animation: blow 17000ms infinite;
  animation-delay: 12377ms;
}
.particle-container .particle:nth-child(150) {
  left: 43%;
  animation: blow 17000ms infinite;
  animation-delay: 281ms;
}
.particle-container .particle:nth-child(151) {
  left: 100%;
  animation: blow 17000ms infinite;
  animation-delay: 10893ms;
}
.particle-container .particle:nth-child(152) {
  left: 86%;
  animation: blow 19756ms infinite;
  animation-delay: 13009ms;
}
.particle-container .particle:nth-child(153) {
  left: 85%;
  animation: blow 17000ms infinite;
  animation-delay: 14111ms;
}
.particle-container .particle:nth-child(154) {
  left: 64%;
  animation: blow 17000ms infinite;
  animation-delay: 7488ms;
}
.particle-container .particle:nth-child(155) {
  left: 16%;
  animation: blow 17000ms infinite;
  animation-delay: 1995ms;
}
.particle-container .particle:nth-child(156) {
  left: 79%;
  animation: blow 19435ms infinite;
  animation-delay: 5598ms;
}
.particle-container .particle:nth-child(157) {
  left: 46%;
  animation: blow 17000ms infinite;
  animation-delay: 4291ms;
}
.particle-container .particle:nth-child(158) {
  left: 42%;
  animation: blow 17000ms infinite;
  animation-delay: 8209ms;
}
.particle-container .particle:nth-child(159) {
  left: 57%;
  animation: blow 17000ms infinite;
  animation-delay: 747ms;
}
.particle-container .particle:nth-child(160) {
  left: 65%;
  animation: blow 17000ms infinite;
  animation-delay: 13335ms;
}
.particle-container .particle:nth-child(161) {
  left: 1%;
  animation: blow 17000ms infinite;
  animation-delay: 7416ms;
}
.particle-container .particle:nth-child(162) {
  left: 79%;
  animation: blow 17947ms infinite;
  animation-delay: 12022ms;
}
.particle-container .particle:nth-child(163) {
  left: 99%;
  animation: blow 17000ms infinite;
  animation-delay: 2463ms;
}
.particle-container .particle:nth-child(164) {
  left: 99%;
  animation: blow 17000ms infinite;
  animation-delay: 13540ms;
}
.particle-container .particle:nth-child(165) {
  left: 20%;
  animation: blow 18712ms infinite;
  animation-delay: 11072ms;
}
.particle-container .particle:nth-child(166) {
  left: 48%;
  animation: blow 17000ms infinite;
  animation-delay: 12450ms;
}
.particle-container .particle:nth-child(167) {
  left: 56%;
  animation: blow 17000ms infinite;
  animation-delay: 1197ms;
}
.particle-container .particle:nth-child(168) {
  left: 66%;
  animation: blow 19876ms infinite;
  animation-delay: 10542ms;
}
.particle-container .particle:nth-child(169) {
  left: 18%;
  animation: blow 17000ms infinite;
  animation-delay: 3687ms;
}
.particle-container .particle:nth-child(170) {
  left: 41%;
  animation: blow 17000ms infinite;
  animation-delay: 12547ms;
}
.particle-container .particle:nth-child(171) {
  left: 32%;
  animation: blow 19821ms infinite;
  animation-delay: 5119ms;
}
.particle-container .particle:nth-child(172) {
  left: 18%;
  animation: blow 17000ms infinite;
  animation-delay: 1321ms;
}
.particle-container .particle:nth-child(173) {
  left: 59%;
  animation: blow 17000ms infinite;
  animation-delay: 12013ms;
}
.particle-container .particle:nth-child(174) {
  left: 40%;
  animation: blow 19845ms infinite;
  animation-delay: 13188ms;
}
.particle-container .particle:nth-child(175) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 8382ms;
}
.particle-container .particle:nth-child(176) {
  left: 33%;
  animation: blow 17000ms infinite;
  animation-delay: 937ms;
}
.particle-container .particle:nth-child(177) {
  left: 60%;
  animation: blow 17000ms infinite;
  animation-delay: 10633ms;
}
.particle-container .particle:nth-child(178) {
  left: 53%;
  animation: blow 17000ms infinite;
  animation-delay: 7786ms;
}
.particle-container .particle:nth-child(179) {
  left: 88%;
  animation: blow 17000ms infinite;
  animation-delay: 2144ms;
}
.particle-container .particle:nth-child(180) {
  left: 60%;
  animation: blow 17000ms infinite;
  animation-delay: 9622ms;
}
.particle-container .particle:nth-child(181) {
  left: 42%;
  animation: blow 17000ms infinite;
  animation-delay: 11106ms;
}
.particle-container .particle:nth-child(182) {
  left: 58%;
  animation: blow 17000ms infinite;
  animation-delay: 5706ms;
}
.particle-container .particle:nth-child(183) {
  left: 55%;
  animation: blow 17165ms infinite;
  animation-delay: 12579ms;
}
.particle-container .particle:nth-child(184) {
  left: 50%;
  animation: blow 17000ms infinite;
  animation-delay: 4860ms;
}
.particle-container .particle:nth-child(185) {
  left: 39%;
  animation: blow 17000ms infinite;
  animation-delay: 4611ms;
}
.particle-container .particle:nth-child(186) {
  left: 41%;
  animation: blow 17000ms infinite;
  animation-delay: 7865ms;
}
.particle-container .particle:nth-child(187) {
  left: 94%;
  animation: blow 18698ms infinite;
  animation-delay: 4103ms;
}
.particle-container .particle:nth-child(188) {
  left: 95%;
  animation: blow 17000ms infinite;
  animation-delay: 11686ms;
}
.particle-container .particle:nth-child(189) {
  left: 67%;
  animation: blow 17211ms infinite;
  animation-delay: 13938ms;
}
.particle-container .particle:nth-child(190) {
  left: 39%;
  animation: blow 17000ms infinite;
  animation-delay: 1472ms;
}
.particle-container .particle:nth-child(191) {
  left: 50%;
  animation: blow 17000ms infinite;
  animation-delay: 10233ms;
}
.particle-container .particle:nth-child(192) {
  left: 28%;
  animation: blow 17000ms infinite;
  animation-delay: 1800ms;
}
.particle-container .particle:nth-child(193) {
  left: 28%;
  animation: blow 17000ms infinite;
  animation-delay: 9570ms;
}
.particle-container .particle:nth-child(194) {
  left: 4%;
  animation: blow 17000ms infinite;
  animation-delay: 4784ms;
}
.particle-container .particle:nth-child(195) {
  left: 2%;
  animation: blow 17000ms infinite;
  animation-delay: 8158ms;
}
.particle-container .particle:nth-child(196) {
  left: 55%;
  animation: blow 17000ms infinite;
  animation-delay: 12159ms;
}
.particle-container .particle:nth-child(197) {
  left: 55%;
  animation: blow 17000ms infinite;
  animation-delay: 5474ms;
}
.particle-container .particle:nth-child(198) {
  left: 98%;
  animation: blow 17000ms infinite;
  animation-delay: 12454ms;
}
.particle-container .particle:nth-child(199) {
  left: 84%;
  animation: blow 17460ms infinite;
  animation-delay: 12522ms;
}
.particle-container .particle:nth-child(200) {
  left: 77%;
  animation: blow 17000ms infinite;
  animation-delay: 1111ms;
}

@keyframes bounce {
  100% {
    top: 5px;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -600px) scale(0.2);
  }
}
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
}
@keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}