* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: 0;
}

a {
  text-decoration: none;
  color: #333;
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: url("/img/background_2.jpg") fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrap {
  width: 100vw;
  transition: all 0.5s;
}
#wrap #border {
  width: 98%;
  height: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  mix-blend-mode: difference;
  z-index: 1;
  box-shadow: 0 0 0 100px #ffffff;
}
#wrap .cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  mix-blend-mode: difference;
  background: #fff;
  z-index: 999;
}
#wrap .active {
  transform: scale(10);
}
#wrap #loading-wrap {
  height: 100vh;
  width: 100%;
  display: block;
  overflow: hidden;
  margin-top: 0px;
  top: 0%;
}
#wrap #loading-wrap .loadding-page {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;
  position: absolute;
  top: 0px;
  z-index: 9999;
}
#wrap #loading-wrap .cssload-box-loading {
  width: 49px;
  height: 49px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -120px;
  bottom: 0;
}
#wrap #loading-wrap .cssload-box-loading::before {
  content: "";
  width: 49px;
  height: 5px;
  background: #000000;
  opacity: 0.1;
  position: absolute;
  top: 58px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.58s linear infinite;
  -o-animation: shadow 0.58s linear infinite;
  -ms-animation: shadow 0.58s linear infinite;
  -webkit-animation: shadow 0.58s linear infinite;
  -moz-animation: shadow 0.58s linear infinite;
}
#wrap #loading-wrap .cssload-box-loading::after {
  content: "";
  width: 49px;
  height: 49px;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  animation: cssload-animate 0.58s linear infinite;
  -o-animation: cssload-animate 0.58s linear infinite;
  -ms-animation: cssload-animate 0.58s linear infinite;
  -webkit-animation: cssload-animate 0.58s linear infinite;
  -moz-animation: cssload-animate 0.58s linear infinite;
}
#wrap #loading-wrap #loading-textBox {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-font-smoothing: antialiased;
}
#wrap #loading-wrap #loading-textBox > h1 {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  height: 100%;
  font-size: 50px;
}
#wrap #loading-wrap #loading-textBox > h1 > span {
  top: 50px;
  display: inline-block;
  position: relative;
  animation: bounce 0.3s ease infinite alternate;
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 0 #000000, 0 2px 0 #000000, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(2) {
  animation-delay: 0.1s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(3) {
  animation-delay: 0.2s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(4) {
  animation-delay: 0.3s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(5) {
  animation-delay: 0.4s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(6) {
  animation-delay: 0.5s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(7) {
  animation-delay: 0.6s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(8) {
  animation-delay: 0.7s;
}
#wrap #loading-wrap #loading-textBox > h1 > span:nth-child(9) {
  animation-delay: 0.8s;
}
#wrap #body-wrap {
  display: none;
}
#wrap #body-wrap > header {
  position: relative;
}
#wrap #body-wrap > header > img {
  position: fixed;
  width: 800px;
  height: 950px;
  top: -100px;
  right: -100px;
  transform: rotate(50deg);
}
#wrap #body-wrap .svg-textWrap1 {
  width: 100%;
  height: 250px;
  position: fixed;
  display: flex;
  top: 0px;
  left: 40%;
  rotate: 90deg;
  z-index: 1;
}
#wrap #body-wrap .svg-textWrap1 .svg1 {
  will-change: transform;
  animation: marquee1 40s linear infinite;
  padding-left: 50px;
}
#wrap #body-wrap .svg-textWrap1 .svg2 {
  will-change: transform;
  animation: marquee2 40s linear infinite;
}
#wrap #body-wrap .svg-textWrap2 {
  width: 100%;
  height: 350px;
  position: relative;
}
#wrap #body-wrap .svg-textWrap2 .svg4 {
  position: absolute;
  top: 140px;
}
#wrap #body-wrap #profile {
  display: flex;
  justify-content: normal;
  align-items: normal;
  width: 100%;
  height: 1000px;
  margin-left: 8%;
}
#wrap #body-wrap #profile #inform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 800px;
  flex-direction: column;
}
#wrap #body-wrap #profile #inform .inform-img {
  width: 450px;
  height: 450px;
  border-radius: 49% 49% 0 0;
  margin-bottom: 15px;
  position: relative;
}
#wrap #body-wrap #profile #inform .inform-img > img {
  width: 100%;
  position: absolute;
}
#wrap #body-wrap #profile #inform .inform-text {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  width: 550px;
  padding-top: 20px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 30px;
  color: black;
}
#wrap #body-wrap #profile #inform .inform-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 37px solid transparent;
  border-bottom-color: rgb(0, 0, 0);
  border-top: 0;
  border-right: 0;
  margin-left: -40%;
  margin-top: -37px;
}
#wrap #body-wrap #profile #inform .inform-text > h1 {
  font-size: 4rem;
  margin-bottom: 5px;
}
#wrap #body-wrap #profile #inform .inform-text > h4 {
  font-size: 2rem;
}
#wrap #body-wrap #profile #boards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 800px;
}
#wrap #body-wrap #profile #boards .board {
  width: 500px;
  height: 100px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
#wrap #body-wrap #profile #boards .board > h1 {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  color: #000000;
  line-height: 4em;
  font-size: 2rem;
}
#wrap #body-wrap #projects-wrap {
  width: 400%;
  overscroll-behavior: none;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
}
#wrap #body-wrap #projects-wrap .project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 963px;
  padding-left: 50px;
}
#wrap #body-wrap #projects-wrap .project .screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 911px;
  position: relative;
}
#wrap #body-wrap #projects-wrap .project .screen-text {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  width: 550px;
  height: 100%;
  padding: 50px;
  background-color: tomato;
}
#wrap #body-wrap #projects-wrap .project .screen-text > h2 {
  font-size: 4rem;
}
#wrap #body-wrap #projects-wrap .project .screen-text > h1 {
  font-size: 3rem;
}
#wrap #body-wrap #projects-wrap .project .screen-text > p {
  font-size: 1.5em;
}
#wrap #body-wrap #projects-wrap .project .screen-text .use {
  margin-top: 30px;
  margin-left: 20px;
}
#wrap #body-wrap #projects-wrap .project .screen-text .use > li {
  font-size: 1.5rem;
}
#wrap #body-wrap #projects-wrap .project .screen-text body {
  background: #333;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#wrap #body-wrap #projects-wrap .project .screen-text .buttons {
  margin-top: 50px;
  text-align: center;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0fe0f5;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid #0fe0f5;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  border: 6px solid #222;
  transition: all 0.3s 0.2s;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn:hover {
  color: #222;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__blob {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: #0fe0f5;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  #wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
#wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover #wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover #wrap #body-wrap #projects-wrap .project .screen-text .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}
#wrap #body-wrap #projects-wrap .project .screen-view {
  width: 1282px;
  height: 100%;
  background-color: rgb(188, 114, 127);
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
#wrap #body-wrap #projects-wrap .project .screen-view > img {
  width: 100%;
  top: 0px;
  position: absolute;
}

#only-fixed {
  width: 100%;
  z-index: 800;
  position: fixed;
}

#wave-wrap {
  width: 100%;
}

.waveBox {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}
.waveBox .wave {
  width: 100%;
  height: 70px;
  position: absolute;
  background-image: url("../img/wave_black.png");
  background-size: 1000px 70px;
  mix-blend-mode: difference;
  z-index: 999;
}
.waveBox .wave1 {
  animation: animate 30s linear infinite;
  z-index: 8;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.waveBox .wave2 {
  animation: animate2 15s linear infinite;
  z-index: 7;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.waveBox .wave3 {
  animation: animate 30s linear infinite;
  z-index: 6;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.waveBox .wave4 {
  animation: animate2 5s linear infinite;
  z-index: 5;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

.waveBlock {
  width: 100%;
  height: 2000px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.particle-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.particle-container .particle {
  z-index: 1;
  opacity: 0;
  position: fixed;
  bottom: -10px;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.particle-container .particle:nth-child(1) {
  left: 46%;
  animation: blow 17000ms infinite;
  animation-delay: 1620ms;
}
.particle-container .particle:nth-child(2) {
  left: 9%;
  animation: blow 17000ms infinite;
  animation-delay: 809ms;
}
.particle-container .particle:nth-child(3) {
  left: 96%;
  animation: blow 17000ms infinite;
  animation-delay: 8166ms;
}
.particle-container .particle:nth-child(4) {
  left: 98%;
  animation: blow 17000ms infinite;
  animation-delay: 13595ms;
}
.particle-container .particle:nth-child(5) {
  left: 34%;
  animation: blow 17000ms infinite;
  animation-delay: 7123ms;
}
.particle-container .particle:nth-child(6) {
  left: 100%;
  animation: blow 17000ms infinite;
  animation-delay: 7136ms;
}
.particle-container .particle:nth-child(7) {
  left: 28%;
  animation: blow 17000ms infinite;
  animation-delay: 3068ms;
}
.particle-container .particle:nth-child(8) {
  left: 90%;
  animation: blow 17000ms infinite;
  animation-delay: 1656ms;
}
.particle-container .particle:nth-child(9) {
  left: 53%;
  animation: blow 17732ms infinite;
  animation-delay: 7476ms;
}
.particle-container .particle:nth-child(10) {
  left: 24%;
  animation: blow 17000ms infinite;
  animation-delay: 12243ms;
}
.particle-container .particle:nth-child(11) {
  left: 95%;
  animation: blow 17000ms infinite;
  animation-delay: 2891ms;
}
.particle-container .particle:nth-child(12) {
  left: 2%;
  animation: blow 17000ms infinite;
  animation-delay: 8664ms;
}
.particle-container .particle:nth-child(13) {
  left: 59%;
  animation: blow 17000ms infinite;
  animation-delay: 12201ms;
}
.particle-container .particle:nth-child(14) {
  left: 48%;
  animation: blow 17000ms infinite;
  animation-delay: 9931ms;
}
.particle-container .particle:nth-child(15) {
  left: 64%;
  animation: blow 19788ms infinite;
  animation-delay: 9353ms;
}
.particle-container .particle:nth-child(16) {
  left: 66%;
  animation: blow 17000ms infinite;
  animation-delay: 857ms;
}
.particle-container .particle:nth-child(17) {
  left: 29%;
  animation: blow 17000ms infinite;
  animation-delay: 10219ms;
}
.particle-container .particle:nth-child(18) {
  left: 58%;
  animation: blow 17462ms infinite;
  animation-delay: 14570ms;
}
.particle-container .particle:nth-child(19) {
  left: 61%;
  animation: blow 19686ms infinite;
  animation-delay: 2429ms;
}
.particle-container .particle:nth-child(20) {
  left: 94%;
  animation: blow 17000ms infinite;
  animation-delay: 2901ms;
}
.particle-container .particle:nth-child(21) {
  left: 81%;
  animation: blow 17000ms infinite;
  animation-delay: 5570ms;
}
.particle-container .particle:nth-child(22) {
  left: 34%;
  animation: blow 17000ms infinite;
  animation-delay: 4631ms;
}
.particle-container .particle:nth-child(23) {
  left: 75%;
  animation: blow 17000ms infinite;
  animation-delay: 155ms;
}
.particle-container .particle:nth-child(24) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 6347ms;
}
.particle-container .particle:nth-child(25) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 12264ms;
}
.particle-container .particle:nth-child(26) {
  left: 68%;
  animation: blow 17000ms infinite;
  animation-delay: 7059ms;
}
.particle-container .particle:nth-child(27) {
  left: 48%;
  animation: blow 17249ms infinite;
  animation-delay: 6721ms;
}
.particle-container .particle:nth-child(28) {
  left: 90%;
  animation: blow 17000ms infinite;
  animation-delay: 1154ms;
}
.particle-container .particle:nth-child(29) {
  left: 27%;
  animation: blow 17000ms infinite;
  animation-delay: 1807ms;
}
.particle-container .particle:nth-child(30) {
  left: 100%;
  animation: blow 17000ms infinite;
  animation-delay: 2254ms;
}
.particle-container .particle:nth-child(31) {
  left: 77%;
  animation: blow 17000ms infinite;
  animation-delay: 14305ms;
}
.particle-container .particle:nth-child(32) {
  left: 29%;
  animation: blow 17000ms infinite;
  animation-delay: 7629ms;
}
.particle-container .particle:nth-child(33) {
  left: 11%;
  animation: blow 17000ms infinite;
  animation-delay: 1723ms;
}
.particle-container .particle:nth-child(34) {
  left: 25%;
  animation: blow 17000ms infinite;
  animation-delay: 6109ms;
}
.particle-container .particle:nth-child(35) {
  left: 4%;
  animation: blow 17795ms infinite;
  animation-delay: 1099ms;
}
.particle-container .particle:nth-child(36) {
  left: 40%;
  animation: blow 17000ms infinite;
  animation-delay: 11367ms;
}
.particle-container .particle:nth-child(37) {
  left: 93%;
  animation: blow 17000ms infinite;
  animation-delay: 9731ms;
}
.particle-container .particle:nth-child(38) {
  left: 61%;
  animation: blow 17000ms infinite;
  animation-delay: 6499ms;
}
.particle-container .particle:nth-child(39) {
  left: 99%;
  animation: blow 17000ms infinite;
  animation-delay: 4141ms;
}
.particle-container .particle:nth-child(40) {
  left: 29%;
  animation: blow 19741ms infinite;
  animation-delay: 11840ms;
}
.particle-container .particle:nth-child(41) {
  left: 89%;
  animation: blow 17000ms infinite;
  animation-delay: 8821ms;
}
.particle-container .particle:nth-child(42) {
  left: 10%;
  animation: blow 17000ms infinite;
  animation-delay: 2568ms;
}
.particle-container .particle:nth-child(43) {
  left: 76%;
  animation: blow 17000ms infinite;
  animation-delay: 1480ms;
}
.particle-container .particle:nth-child(44) {
  left: 97%;
  animation: blow 17000ms infinite;
  animation-delay: 2986ms;
}
.particle-container .particle:nth-child(45) {
  left: 71%;
  animation: blow 17000ms infinite;
  animation-delay: 6367ms;
}
.particle-container .particle:nth-child(46) {
  left: 47%;
  animation: blow 17000ms infinite;
  animation-delay: 11863ms;
}
.particle-container .particle:nth-child(47) {
  left: 51%;
  animation: blow 17000ms infinite;
  animation-delay: 4628ms;
}
.particle-container .particle:nth-child(48) {
  left: 48%;
  animation: blow 17000ms infinite;
  animation-delay: 6238ms;
}
.particle-container .particle:nth-child(49) {
  left: 81%;
  animation: blow 17000ms infinite;
  animation-delay: 4884ms;
}
.particle-container .particle:nth-child(50) {
  left: 88%;
  animation: blow 17000ms infinite;
  animation-delay: 8980ms;
}
.particle-container .particle:nth-child(51) {
  left: 36%;
  animation: blow 17000ms infinite;
  animation-delay: 1796ms;
}
.particle-container .particle:nth-child(52) {
  left: 2%;
  animation: blow 17000ms infinite;
  animation-delay: 2903ms;
}
.particle-container .particle:nth-child(53) {
  left: 6%;
  animation: blow 17000ms infinite;
  animation-delay: 10008ms;
}
.particle-container .particle:nth-child(54) {
  left: 85%;
  animation: blow 17000ms infinite;
  animation-delay: 1205ms;
}
.particle-container .particle:nth-child(55) {
  left: 23%;
  animation: blow 17000ms infinite;
  animation-delay: 10339ms;
}
.particle-container .particle:nth-child(56) {
  left: 9%;
  animation: blow 17000ms infinite;
  animation-delay: 10181ms;
}
.particle-container .particle:nth-child(57) {
  left: 46%;
  animation: blow 17000ms infinite;
  animation-delay: 8611ms;
}
.particle-container .particle:nth-child(58) {
  left: 8%;
  animation: blow 17000ms infinite;
  animation-delay: 585ms;
}
.particle-container .particle:nth-child(59) {
  left: 76%;
  animation: blow 17000ms infinite;
  animation-delay: 11734ms;
}
.particle-container .particle:nth-child(60) {
  left: 71%;
  animation: blow 17000ms infinite;
  animation-delay: 7976ms;
}
.particle-container .particle:nth-child(61) {
  left: 50%;
  animation: blow 17000ms infinite;
  animation-delay: 5944ms;
}
.particle-container .particle:nth-child(62) {
  left: 2%;
  animation: blow 17000ms infinite;
  animation-delay: 10532ms;
}
.particle-container .particle:nth-child(63) {
  left: 34%;
  animation: blow 17000ms infinite;
  animation-delay: 10256ms;
}
.particle-container .particle:nth-child(64) {
  left: 46%;
  animation: blow 17000ms infinite;
  animation-delay: 4211ms;
}
.particle-container .particle:nth-child(65) {
  left: 76%;
  animation: blow 17000ms infinite;
  animation-delay: 4446ms;
}
.particle-container .particle:nth-child(66) {
  left: 40%;
  animation: blow 17000ms infinite;
  animation-delay: 406ms;
}
.particle-container .particle:nth-child(67) {
  left: 45%;
  animation: blow 17000ms infinite;
  animation-delay: 11510ms;
}
.particle-container .particle:nth-child(68) {
  left: 76%;
  animation: blow 17000ms infinite;
  animation-delay: 3058ms;
}
.particle-container .particle:nth-child(69) {
  left: 63%;
  animation: blow 17000ms infinite;
  animation-delay: 10366ms;
}
.particle-container .particle:nth-child(70) {
  left: 25%;
  animation: blow 17000ms infinite;
  animation-delay: 2965ms;
}
.particle-container .particle:nth-child(71) {
  left: 42%;
  animation: blow 17000ms infinite;
  animation-delay: 9199ms;
}
.particle-container .particle:nth-child(72) {
  left: 57%;
  animation: blow 17000ms infinite;
  animation-delay: 8679ms;
}
.particle-container .particle:nth-child(73) {
  left: 89%;
  animation: blow 17000ms infinite;
  animation-delay: 3077ms;
}
.particle-container .particle:nth-child(74) {
  left: 76%;
  animation: blow 17000ms infinite;
  animation-delay: 2682ms;
}
.particle-container .particle:nth-child(75) {
  left: 72%;
  animation: blow 18796ms infinite;
  animation-delay: 14908ms;
}
.particle-container .particle:nth-child(76) {
  left: 36%;
  animation: blow 17000ms infinite;
  animation-delay: 505ms;
}
.particle-container .particle:nth-child(77) {
  left: 76%;
  animation: blow 18757ms infinite;
  animation-delay: 813ms;
}
.particle-container .particle:nth-child(78) {
  left: 23%;
  animation: blow 17000ms infinite;
  animation-delay: 1754ms;
}
.particle-container .particle:nth-child(79) {
  left: 91%;
  animation: blow 17000ms infinite;
  animation-delay: 5348ms;
}
.particle-container .particle:nth-child(80) {
  left: 6%;
  animation: blow 17000ms infinite;
  animation-delay: 897ms;
}
.particle-container .particle:nth-child(81) {
  left: 24%;
  animation: blow 17000ms infinite;
  animation-delay: 11870ms;
}
.particle-container .particle:nth-child(82) {
  left: 70%;
  animation: blow 17000ms infinite;
  animation-delay: 299ms;
}
.particle-container .particle:nth-child(83) {
  left: 99%;
  animation: blow 17000ms infinite;
  animation-delay: 1442ms;
}
.particle-container .particle:nth-child(84) {
  left: 95%;
  animation: blow 17000ms infinite;
  animation-delay: 10579ms;
}
.particle-container .particle:nth-child(85) {
  left: 79%;
  animation: blow 17000ms infinite;
  animation-delay: 2560ms;
}
.particle-container .particle:nth-child(86) {
  left: 9%;
  animation: blow 17000ms infinite;
  animation-delay: 4691ms;
}
.particle-container .particle:nth-child(87) {
  left: 9%;
  animation: blow 17000ms infinite;
  animation-delay: 6495ms;
}
.particle-container .particle:nth-child(88) {
  left: 25%;
  animation: blow 17000ms infinite;
  animation-delay: 5772ms;
}
.particle-container .particle:nth-child(89) {
  left: 33%;
  animation: blow 17000ms infinite;
  animation-delay: 11015ms;
}
.particle-container .particle:nth-child(90) {
  left: 9%;
  animation: blow 17000ms infinite;
  animation-delay: 2316ms;
}
.particle-container .particle:nth-child(91) {
  left: 37%;
  animation: blow 17000ms infinite;
  animation-delay: 7290ms;
}
.particle-container .particle:nth-child(92) {
  left: 22%;
  animation: blow 18296ms infinite;
  animation-delay: 7222ms;
}
.particle-container .particle:nth-child(93) {
  left: 6%;
  animation: blow 17000ms infinite;
  animation-delay: 9801ms;
}
.particle-container .particle:nth-child(94) {
  left: 41%;
  animation: blow 18541ms infinite;
  animation-delay: 4123ms;
}
.particle-container .particle:nth-child(95) {
  left: 79%;
  animation: blow 17000ms infinite;
  animation-delay: 4738ms;
}
.particle-container .particle:nth-child(96) {
  left: 64%;
  animation: blow 17000ms infinite;
  animation-delay: 2252ms;
}
.particle-container .particle:nth-child(97) {
  left: 39%;
  animation: blow 17000ms infinite;
  animation-delay: 5419ms;
}
.particle-container .particle:nth-child(98) {
  left: 94%;
  animation: blow 17000ms infinite;
  animation-delay: 9819ms;
}
.particle-container .particle:nth-child(99) {
  left: 80%;
  animation: blow 17000ms infinite;
  animation-delay: 3761ms;
}
.particle-container .particle:nth-child(100) {
  left: 29%;
  animation: blow 17000ms infinite;
  animation-delay: 14887ms;
}
.particle-container .particle:nth-child(101) {
  left: 86%;
  animation: blow 17000ms infinite;
  animation-delay: 13841ms;
}
.particle-container .particle:nth-child(102) {
  left: 78%;
  animation: blow 17000ms infinite;
  animation-delay: 7259ms;
}
.particle-container .particle:nth-child(103) {
  left: 27%;
  animation: blow 17000ms infinite;
  animation-delay: 11945ms;
}
.particle-container .particle:nth-child(104) {
  left: 52%;
  animation: blow 17000ms infinite;
  animation-delay: 13015ms;
}
.particle-container .particle:nth-child(105) {
  left: 95%;
  animation: blow 17000ms infinite;
  animation-delay: 6388ms;
}
.particle-container .particle:nth-child(106) {
  left: 8%;
  animation: blow 17000ms infinite;
  animation-delay: 8747ms;
}
.particle-container .particle:nth-child(107) {
  left: 86%;
  animation: blow 17000ms infinite;
  animation-delay: 1869ms;
}
.particle-container .particle:nth-child(108) {
  left: 19%;
  animation: blow 17000ms infinite;
  animation-delay: 8262ms;
}
.particle-container .particle:nth-child(109) {
  left: 63%;
  animation: blow 17000ms infinite;
  animation-delay: 9046ms;
}
.particle-container .particle:nth-child(110) {
  left: 18%;
  animation: blow 17000ms infinite;
  animation-delay: 3235ms;
}
.particle-container .particle:nth-child(111) {
  left: 44%;
  animation: blow 17000ms infinite;
  animation-delay: 14408ms;
}
.particle-container .particle:nth-child(112) {
  left: 49%;
  animation: blow 17000ms infinite;
  animation-delay: 13384ms;
}
.particle-container .particle:nth-child(113) {
  left: 73%;
  animation: blow 17000ms infinite;
  animation-delay: 14794ms;
}
.particle-container .particle:nth-child(114) {
  left: 93%;
  animation: blow 17000ms infinite;
  animation-delay: 2095ms;
}
.particle-container .particle:nth-child(115) {
  left: 24%;
  animation: blow 17000ms infinite;
  animation-delay: 3536ms;
}
.particle-container .particle:nth-child(116) {
  left: 13%;
  animation: blow 17000ms infinite;
  animation-delay: 2695ms;
}
.particle-container .particle:nth-child(117) {
  left: 76%;
  animation: blow 17000ms infinite;
  animation-delay: 5447ms;
}
.particle-container .particle:nth-child(118) {
  left: 5%;
  animation: blow 17000ms infinite;
  animation-delay: 5540ms;
}
.particle-container .particle:nth-child(119) {
  left: 4%;
  animation: blow 17000ms infinite;
  animation-delay: 4553ms;
}
.particle-container .particle:nth-child(120) {
  left: 4%;
  animation: blow 17000ms infinite;
  animation-delay: 5006ms;
}
.particle-container .particle:nth-child(121) {
  left: 30%;
  animation: blow 17000ms infinite;
  animation-delay: 13081ms;
}
.particle-container .particle:nth-child(122) {
  left: 72%;
  animation: blow 17000ms infinite;
  animation-delay: 2794ms;
}
.particle-container .particle:nth-child(123) {
  left: 22%;
  animation: blow 17000ms infinite;
  animation-delay: 13059ms;
}
.particle-container .particle:nth-child(124) {
  left: 27%;
  animation: blow 19226ms infinite;
  animation-delay: 5380ms;
}
.particle-container .particle:nth-child(125) {
  left: 71%;
  animation: blow 17000ms infinite;
  animation-delay: 829ms;
}
.particle-container .particle:nth-child(126) {
  left: 6%;
  animation: blow 17000ms infinite;
  animation-delay: 1458ms;
}
.particle-container .particle:nth-child(127) {
  left: 56%;
  animation: blow 17000ms infinite;
  animation-delay: 12379ms;
}
.particle-container .particle:nth-child(128) {
  left: 37%;
  animation: blow 17000ms infinite;
  animation-delay: 9077ms;
}
.particle-container .particle:nth-child(129) {
  left: 6%;
  animation: blow 17000ms infinite;
  animation-delay: 14771ms;
}
.particle-container .particle:nth-child(130) {
  left: 74%;
  animation: blow 19751ms infinite;
  animation-delay: 12940ms;
}
.particle-container .particle:nth-child(131) {
  left: 55%;
  animation: blow 17000ms infinite;
  animation-delay: 13910ms;
}
.particle-container .particle:nth-child(132) {
  left: 49%;
  animation: blow 17000ms infinite;
  animation-delay: 5317ms;
}
.particle-container .particle:nth-child(133) {
  left: 14%;
  animation: blow 17000ms infinite;
  animation-delay: 11318ms;
}
.particle-container .particle:nth-child(134) {
  left: 97%;
  animation: blow 17000ms infinite;
  animation-delay: 10971ms;
}
.particle-container .particle:nth-child(135) {
  left: 45%;
  animation: blow 17000ms infinite;
  animation-delay: 7366ms;
}
.particle-container .particle:nth-child(136) {
  left: 49%;
  animation: blow 17000ms infinite;
  animation-delay: 4313ms;
}
.particle-container .particle:nth-child(137) {
  left: 47%;
  animation: blow 17000ms infinite;
  animation-delay: 10114ms;
}
.particle-container .particle:nth-child(138) {
  left: 13%;
  animation: blow 17000ms infinite;
  animation-delay: 12871ms;
}
.particle-container .particle:nth-child(139) {
  left: 65%;
  animation: blow 17000ms infinite;
  animation-delay: 1771ms;
}
.particle-container .particle:nth-child(140) {
  left: 49%;
  animation: blow 17000ms infinite;
  animation-delay: 8780ms;
}
.particle-container .particle:nth-child(141) {
  left: 5%;
  animation: blow 18818ms infinite;
  animation-delay: 9341ms;
}
.particle-container .particle:nth-child(142) {
  left: 79%;
  animation: blow 17000ms infinite;
  animation-delay: 12005ms;
}
.particle-container .particle:nth-child(143) {
  left: 53%;
  animation: blow 17000ms infinite;
  animation-delay: 1017ms;
}
.particle-container .particle:nth-child(144) {
  left: 25%;
  animation: blow 17000ms infinite;
  animation-delay: 12016ms;
}
.particle-container .particle:nth-child(145) {
  left: 30%;
  animation: blow 17000ms infinite;
  animation-delay: 2849ms;
}
.particle-container .particle:nth-child(146) {
  left: 23%;
  animation: blow 17000ms infinite;
  animation-delay: 10544ms;
}
.particle-container .particle:nth-child(147) {
  left: 20%;
  animation: blow 17000ms infinite;
  animation-delay: 12029ms;
}
.particle-container .particle:nth-child(148) {
  left: 6%;
  animation: blow 17000ms infinite;
  animation-delay: 14218ms;
}
.particle-container .particle:nth-child(149) {
  left: 70%;
  animation: blow 17000ms infinite;
  animation-delay: 10732ms;
}
.particle-container .particle:nth-child(150) {
  left: 12%;
  animation: blow 17000ms infinite;
  animation-delay: 12511ms;
}
.particle-container .particle:nth-child(151) {
  left: 16%;
  animation: blow 17000ms infinite;
  animation-delay: 13625ms;
}
.particle-container .particle:nth-child(152) {
  left: 14%;
  animation: blow 17000ms infinite;
  animation-delay: 7036ms;
}
.particle-container .particle:nth-child(153) {
  left: 61%;
  animation: blow 19834ms infinite;
  animation-delay: 864ms;
}
.particle-container .particle:nth-child(154) {
  left: 51%;
  animation: blow 17000ms infinite;
  animation-delay: 6953ms;
}
.particle-container .particle:nth-child(155) {
  left: 28%;
  animation: blow 17000ms infinite;
  animation-delay: 7794ms;
}
.particle-container .particle:nth-child(156) {
  left: 77%;
  animation: blow 18693ms infinite;
  animation-delay: 9239ms;
}
.particle-container .particle:nth-child(157) {
  left: 88%;
  animation: blow 17000ms infinite;
  animation-delay: 5315ms;
}
.particle-container .particle:nth-child(158) {
  left: 88%;
  animation: blow 17000ms infinite;
  animation-delay: 5525ms;
}
.particle-container .particle:nth-child(159) {
  left: 47%;
  animation: blow 17000ms infinite;
  animation-delay: 1516ms;
}
.particle-container .particle:nth-child(160) {
  left: 35%;
  animation: blow 17000ms infinite;
  animation-delay: 5726ms;
}
.particle-container .particle:nth-child(161) {
  left: 94%;
  animation: blow 17000ms infinite;
  animation-delay: 5086ms;
}
.particle-container .particle:nth-child(162) {
  left: 47%;
  animation: blow 17000ms infinite;
  animation-delay: 8338ms;
}
.particle-container .particle:nth-child(163) {
  left: 78%;
  animation: blow 17000ms infinite;
  animation-delay: 3910ms;
}
.particle-container .particle:nth-child(164) {
  left: 62%;
  animation: blow 17000ms infinite;
  animation-delay: 4512ms;
}
.particle-container .particle:nth-child(165) {
  left: 21%;
  animation: blow 18270ms infinite;
  animation-delay: 963ms;
}
.particle-container .particle:nth-child(166) {
  left: 39%;
  animation: blow 17000ms infinite;
  animation-delay: 730ms;
}
.particle-container .particle:nth-child(167) {
  left: 77%;
  animation: blow 17000ms infinite;
  animation-delay: 12862ms;
}
.particle-container .particle:nth-child(168) {
  left: 34%;
  animation: blow 17000ms infinite;
  animation-delay: 9952ms;
}
.particle-container .particle:nth-child(169) {
  left: 1%;
  animation: blow 17000ms infinite;
  animation-delay: 8781ms;
}
.particle-container .particle:nth-child(170) {
  left: 60%;
  animation: blow 17000ms infinite;
  animation-delay: 7105ms;
}
.particle-container .particle:nth-child(171) {
  left: 54%;
  animation: blow 19441ms infinite;
  animation-delay: 12513ms;
}
.particle-container .particle:nth-child(172) {
  left: 50%;
  animation: blow 17000ms infinite;
  animation-delay: 2699ms;
}
.particle-container .particle:nth-child(173) {
  left: 99%;
  animation: blow 17000ms infinite;
  animation-delay: 14123ms;
}
.particle-container .particle:nth-child(174) {
  left: 52%;
  animation: blow 17000ms infinite;
  animation-delay: 12139ms;
}
.particle-container .particle:nth-child(175) {
  left: 64%;
  animation: blow 17000ms infinite;
  animation-delay: 266ms;
}
.particle-container .particle:nth-child(176) {
  left: 58%;
  animation: blow 17000ms infinite;
  animation-delay: 6040ms;
}
.particle-container .particle:nth-child(177) {
  left: 60%;
  animation: blow 17000ms infinite;
  animation-delay: 12671ms;
}
.particle-container .particle:nth-child(178) {
  left: 60%;
  animation: blow 17000ms infinite;
  animation-delay: 7081ms;
}
.particle-container .particle:nth-child(179) {
  left: 61%;
  animation: blow 17000ms infinite;
  animation-delay: 12559ms;
}
.particle-container .particle:nth-child(180) {
  left: 67%;
  animation: blow 17000ms infinite;
  animation-delay: 9539ms;
}
.particle-container .particle:nth-child(181) {
  left: 3%;
  animation: blow 17000ms infinite;
  animation-delay: 6499ms;
}
.particle-container .particle:nth-child(182) {
  left: 65%;
  animation: blow 17000ms infinite;
  animation-delay: 8192ms;
}
.particle-container .particle:nth-child(183) {
  left: 13%;
  animation: blow 17000ms infinite;
  animation-delay: 9328ms;
}
.particle-container .particle:nth-child(184) {
  left: 55%;
  animation: blow 17000ms infinite;
  animation-delay: 3859ms;
}
.particle-container .particle:nth-child(185) {
  left: 34%;
  animation: blow 17000ms infinite;
  animation-delay: 14051ms;
}
.particle-container .particle:nth-child(186) {
  left: 80%;
  animation: blow 17000ms infinite;
  animation-delay: 12253ms;
}
.particle-container .particle:nth-child(187) {
  left: 13%;
  animation: blow 17000ms infinite;
  animation-delay: 13397ms;
}
.particle-container .particle:nth-child(188) {
  left: 33%;
  animation: blow 19952ms infinite;
  animation-delay: 11291ms;
}
.particle-container .particle:nth-child(189) {
  left: 31%;
  animation: blow 19950ms infinite;
  animation-delay: 10021ms;
}
.particle-container .particle:nth-child(190) {
  left: 88%;
  animation: blow 17000ms infinite;
  animation-delay: 11490ms;
}
.particle-container .particle:nth-child(191) {
  left: 78%;
  animation: blow 17000ms infinite;
  animation-delay: 4823ms;
}
.particle-container .particle:nth-child(192) {
  left: 70%;
  animation: blow 17000ms infinite;
  animation-delay: 4998ms;
}
.particle-container .particle:nth-child(193) {
  left: 12%;
  animation: blow 17000ms infinite;
  animation-delay: 3926ms;
}
.particle-container .particle:nth-child(194) {
  left: 95%;
  animation: blow 17000ms infinite;
  animation-delay: 10193ms;
}
.particle-container .particle:nth-child(195) {
  left: 39%;
  animation: blow 17000ms infinite;
  animation-delay: 4283ms;
}
.particle-container .particle:nth-child(196) {
  left: 35%;
  animation: blow 17000ms infinite;
  animation-delay: 2339ms;
}
.particle-container .particle:nth-child(197) {
  left: 31%;
  animation: blow 17000ms infinite;
  animation-delay: 2351ms;
}
.particle-container .particle:nth-child(198) {
  left: 60%;
  animation: blow 17000ms infinite;
  animation-delay: 14702ms;
}
.particle-container .particle:nth-child(199) {
  left: 40%;
  animation: blow 17000ms infinite;
  animation-delay: 6118ms;
}
.particle-container .particle:nth-child(200) {
  left: 42%;
  animation: blow 17000ms infinite;
  animation-delay: 2553ms;
}

@keyframes bounce {
  100% {
    top: 5px;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -600px) scale(0.2);
  }
}
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
}
@keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@keyframes marquee1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  to {
    transform: translateX(-100%);
  }
  from {
    transform: translateX(0);
  }
}