@charset "utf-8";

@import "reset", "common";

//mixin
@mixin flex($j, $a) {
    display: flex;
    justify-content: $j;
    align-items: $a;
}

;

@mixin font() {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

;
//

//keyframe 은 맨 아래에
body {
    background-image: url("/img/background_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrap {
    width: 100vw;

    #loading-wrap {
        background-image: url("/img/loading.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;

        //효과 : https://www.theappguruz.com/tag-tools/web/CSSAnimations/
        #loading-imgBox {
            @include flex (center, center);
            width: 100%;
            height: 100vh;

            .loading-img {
                @include flex (center, center);
                width: 12%;
                top: -20%;
                right: -18%;
                position: relative;
                //
                -webkit-backface-visibility: visible !important;
                backface-visibility: visible !important;
                -webkit-animation-name: flipIn;
                animation-duration: 1.3s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;

                >img {
                    width: 100%;
                    position: absolute;
                }
            }
        }

        // 로딩 텍스트 효과 : https://wsss.tistory.com/48
        #loading-textBox {
            top: 55%;
            right: 21%;
            position: absolute;
            -webkit-font-smoothing: antialiased;

            >h1 {
                @include font();
                height: 100%;
                font-size: 50px;

                >span {
                    top: 50px;
                    display: inline-block;
                    position: relative;
                    animation: bounce .3s ease infinite alternate;
                    color: rgb(0, 0, 0);
                    text-shadow:
                        0 1px 0 #000000,
                        0 2px 0 #000000,
                        0 3px 0 #CCC,
                        0 4px 0 #CCC,
                        0 5px 0 #CCC,
                        0 6px 0 transparent,
                        0 7px 0 transparent,
                        0 8px 0 transparent,
                        0 9px 0 transparent,
                        0 10px 10px rgba(0, 0, 0, .4);

                    &:nth-child(2) {
                        animation-delay: .1s;
                    }

                    &:nth-child(3) {
                        animation-delay: .2s;
                    }

                    &:nth-child(4) {
                        animation-delay: .3s;
                    }

                    &:nth-child(5) {
                        animation-delay: .4s;
                    }

                    &:nth-child(6) {
                        animation-delay: .5s;
                    }

                    &:nth-child(7) {
                        animation-delay: .6s;
                    }

                    &:nth-child(8) {
                        animation-delay: .7s;
                    }

                    &:nth-child(9) {
                        animation-delay: .8s;
                    }
                }
            }
        }

    }

    #body-wrap {
        display: none;

        //고정된 파티클, 웨이브 css는 맨 아래

        >header {
            position: relative;

            #svg-textWrap {
                width: 100%;
                height: 350px;
                // position: relative;

                .svg-first {
                    top: 20px;
                    left: 20px;
                    // z-index: 1;
                    // position: absolute;
                }

                .svg-second {
                    top: 200px;
                    left: 150px;
                    // z-index: 1;
                    // position: absolute;
                }
            }

            //cut img
            >img {
                position: absolute;
                width: 800px;
                height: 600px;
                top: -100px;
                right: -100px;
            }
        }

        //section 1
        #profile {
            @include flex(center, center);
            width: 100%;
            height: 1000px;

            #inform {
                @include flex(center, center);
                width: 600px;
                height: 800px;
                flex-direction: column;

                #inform-img {
                    width: 550px;
                    height: 550px;
                    // background-color: blue;
                    border-radius: 49% 49% 0 0;
                    border: double 8px black;
                    margin-bottom: 15px;
                    position: relative;

                    >img {
                        width: 100%;
                        position: absolute;
                    }
                }

                #inform-text {
                    width: 550px;
                    height: 150px;
                    border: double 8px black;
                }
            }

            #boards {
                @include flex(center, center);
                flex-direction: column;
                width: 800px;
                height: 800px;
                background-color: gray;

                .board {
                    width: 500px;
                    height: 100px;
                    background-color: brown;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
            }
        }

        //section2
        #projects-wrap {
            width: 100%;
            overscroll-behavior: none;

            display: flex;
            flex-wrap: nowrap;
            background-color: pink;


            #menu {
                width: 400px;
                height: 900px;
                background-color: tomato;
            }


            .project {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1903px;
                height: 963px;
                background-color: pink;
                // position: relative;
                overflow: hidden;

                .screen {
                    width: 1400px;
                    height: 900px;
                    background-color: gold;
                    border: 4px solid black;
                }

            }
        }
    }
}

//end

// 로딩, 메인 fixed

// 웨이브 효과 : https://www.youtube.com/watch?v=MMNEEdGa5eE&list=LL&index=20
#only-fixed {
    width: 100%;
    z-index: 100;
    position: fixed;

    #hand-img {
        width: 100%;
        height: 100vh;
        position: relative;

        >img {
            position: absolute;
            width: 800px;
            height: 600px;
            bottom: 0;
            right: 0;
        }
    }
}

#wave-wrap {
    width: 100%;
}

.waveBox {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;

    .wave {
        width: 100%;
        height: 70px;
        position: absolute;
        background-image: url("/img/wave_black.png");
        background-size: 1000px 70px;

        &1 {
            animation: animate 30s linear infinite;
            z-index: 1000;
            opacity: 1;
            animation-delay: 0s;
            bottom: 0;
        }

        &2 {
            animation: animate2 15s linear infinite;
            z-index: 999;
            opacity: 0.5;
            animation-delay: -5s;
            bottom: 10px;
        }

        &3 {
            animation: animate 30s linear infinite;
            z-index: 998;
            opacity: 0.2;
            animation-delay: -2s;
            bottom: 15px;
        }

        &4 {
            animation: animate2 5s linear infinite;
            z-index: 997;
            opacity: 0.7;
            animation-delay: -5s;
            bottom: 20px;
        }
    }
}

.waveBlock {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 1;
}

// 로딩 파티클 효과 : https://codepen.io/Paolo-Duzioni/pen/MQmbJo
// 파티클 세팅
$particle-count: 200;
$particle-size: 10px;
$particle-distance: 600px;
$particle-min-speed: 17000; // ms
$particle-max-speed: 20000; // ms
$particle-max-delay: 15000; // ms

.particle-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .particle {
        z-index: 1;
        opacity: 0;
        position: fixed;
        bottom: -$particle-size;
        width: $particle-size;
        height: $particle-size;
        background-color: rgb(36, 36, 36);
        border-radius: 50%;

        // Randomize bubles
        @for $i from 1 through $particle-count {

            // random animation speed
            $speed: random($particle-max-speed) + 0ms;

            @if $speed < $particle-min-speed {
                $speed: $particle-min-speed + 0ms;
            }

            &:nth-child(#{$i}) {
                left: random(100) + 0%;
                animation: blow $speed infinite;
                animation-delay: random($particle-max-delay) + 0ms;
            }
        }

    }
}


// 로딩화면 이미지 keyframe
@keyframes flipIn {
    0% {
        -webkit-transform: perspective(10400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        // opacity: 0;
    }

    40% {
        -webkit-transform: perspective(10400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(1000px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(10400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(1000px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(1000px);
        transform: perspective(1000px);
    }
}

// 로딩화면 텍스트 keyframe
@keyframes bounce {
    100% {
        top: 5px;
        text-shadow: 0 1px 0 #CCC,
            0 2px 0 #CCC,
            0 3px 0 #CCC,
            0 4px 0 #CCC,
            0 5px 0 #CCC,
            0 6px 0 #CCC,
            0 7px 0 #CCC,
            0 8px 0 #CCC,
            0 9px 0 #CCC,
            0 50px 25px rgba(0, 0, 0, .2);
    }
}

// 웨이브 keyframe
@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

// 파티클 keyframe
@keyframes blow {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(0, -$particle-distance) scale(.2);
    }
}

// svg text keyframe
@-webkit-keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    60% {
        stroke-dashoffset: 0;
        fill: #000000;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #000000;
    }

}

@keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    60% {
        stroke-dashoffset: 0;
        fill: #000000;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #000000;
    }
}
