@charset "utf-8";

@import "reset", "common";

@mixin flex($j, $a) {
	display: flex;
	justify-content: $j;
	align-items: $a;
}

@mixin font() {
	font-family: 'GangwonEdu_OTFBoldA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

#wrap {
	width: 100vw;

	//로딩
	#loading_wave {
		position: relative;

		#loading {
			@include flex(center, center);
			background-image: url("/img/loading.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 100vh;
			margin: 0 auto;
			// position: absolute;

			.loading_img {
				@include flex(center, center);
				width: 8%;
				position: relative;
				top: -20%;
				right: -18%;
				-webkit-backface-visibility: visible !important;
				backface-visibility: visible !important;
				-webkit-animation-name: flipIn;
				animation-duration: 1.3s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;


				>img {
					width: 100%;
					position: absolute;
				}
			}
		}

		#loading_texts {
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 50%;
			right: 20%;

			>h1 {
				@include font();
				height: 100%;
				font-size: 50px;

				>span {
					position: relative;
					top: 50px;
					display: inline-block;
					animation: bounce .3s ease infinite alternate;
					color: rgb(0, 0, 0);
					text-shadow:
						0 1px 0 #000000,
						0 2px 0 #000000,
						0 3px 0 #CCC,
						0 4px 0 #CCC,
						0 5px 0 #CCC,
						0 6px 0 transparent,
						0 7px 0 transparent,
						0 8px 0 transparent,
						0 9px 0 transparent,
						0 10px 10px rgba(0, 0, 0, .4);

					&:nth-child(2) {
						animation-delay: .1s;
					}

					&:nth-child(3) {
						animation-delay: .2s;
					}

					&:nth-child(4) {
						animation-delay: .3s;
					}

					&:nth-child(5) {
						animation-delay: .4s;
					}

					&:nth-child(6) {
						animation-delay: .5s;
					}

					&:nth-child(7) {
						animation-delay: .6s;
					}

					&:nth-child(8) {
						animation-delay: .7s;
					}

					&:nth-child(9) {
						animation-delay: .8s;
					}
				}
			}
		}
	}

	// font 효과 : https://wsss.tistory.com/48
	@keyframes bounce {
		100% {
			top: 5px;
			text-shadow: 0 1px 0 #CCC,
				0 2px 0 #CCC,
				0 3px 0 #CCC,
				0 4px 0 #CCC,
				0 5px 0 #CCC,
				0 6px 0 #CCC,
				0 7px 0 #CCC,
				0 8px 0 #CCC,
				0 9px 0 #CCC,
				0 50px 25px rgba(0, 0, 0, .2);
		}
	}

	// flipIn 효과 : https://www.theappguruz.com/tag-tools/web/CSSAnimations/
	@keyframes flipIn {
		0% {
			-webkit-transform: perspective(10400px) rotate3d(0, 1, 0, 90deg);
			transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
			-webkit-transition-timing-function: ease-in;
			transition-timing-function: ease-in;
			// opacity: 0;
		}

		40% {
			-webkit-transform: perspective(10400px) rotate3d(0, 1, 0, -20deg);
			transform: perspective(1000px) rotate3d(0, 1, 0, -20deg);
			-webkit-transition-timing-function: ease-in;
			transition-timing-function: ease-in;
		}

		60% {
			-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
			transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
			opacity: 1;
		}

		80% {
			-webkit-transform: perspective(10400px) rotate3d(0, 1, 0, -5deg);
			transform: perspective(1000px) rotate3d(0, 1, 0, -5deg);
		}

		100% {
			-webkit-transform: perspective(1000px);
			transform: perspective(1000px);
		}
	}

	//

	#body_wrap {
		width: 100%;
		display: none;
		> header {
			@include flex(center, center);
			// @include flex(center, center);
			width: 100%;
			position: relative;
			background: url("/img/background.jpg") fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			

			#headers {
				@include flex(center, center);
				// background: rgb(0,143,122);
				// background: linear-gradient(20deg, rgba(0,143,122,1) 0%, rgba(0,142,155,1) 12%, rgba(0,137,186,1) 27%, rgba(44,115,210,1) 37%, rgba(132,94,194,1) 81%);

				width: 1400px;
				height: 100vh;


				#profile {
					@include flex(center, center);
					flex-flow: column wrap;
					position: relative;
					width: 450px;
					height: 700px;
					background-color: tomato;

					#p_img {
						width: 400px;
						height: 500px;
						background-color: gold;
						border-radius: 195px 195px 0 0;
						margin-bottom: 20px;
						//hover 시 자기소개, 이미지 변환

						>img {
							position: absolute;
						}
					}

					#p_text {
						width: 400px;
						height: 100px;
						background-color: blue;
					}
				}

			}

			//

			#boards {
				@include flex(space-around, center);
				align-content: space-around;
				flex-direction: column;
				width: 600px;
				height: 963px;
				// background-color: white;


				.board {
					position: absolute;
					width: 400px;
					height: 100px;
					background-color: brown;


					&1 {
						transform: rotate(0deg);
						top: 150px;
						left: 50px;
					}

					&2 {
						transform: rotate(-5deg);
						top: 280px;
						right: 50px;
					}

					&3 {
						transform: rotate(7deg);
						top: 420px;
						left: 50px;
					}

					&4 {
						transform: rotate(-2deg);
						top: 560px;
					}
				}
			}
		}

		#projects {
			@include flex(center, center);
			width: 100%;
			height: 100vh;
			position: relative;

			#content {
				width: 550px;
				height: 900px;
				background-color: tomato;
			}

			#view {
				width: 1300px;
				height: 900px;
				background-color: pink;
			}
		}
	}

	footer {
		//마지막엔 wave가 아닌 물방울로 
		width: 100%;
		height: 100vh;

		>section {
			@include flex(center, center);
			flex-direction: column;

			#information {
				width: 400px;
				height: 100px;
				background-color: gold;
			}

			#rogram {
				width: 800px;
				height: 600px;
				background-color: pink;
			}
		}
	}

	//
}


// wave
#only_box {
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
}

.only_wave {
	position: absolute;
	width: 100%;
	height: 150px;
	// background: #3386ff;
	overflow: hidden;
	bottom: 0;

	//wave 참고 : https://www.youtube.com/watch?v=MMNEEdGa5eE
	.wave {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100px;

		//svg > css 링크로 변환 사이트 : https://yoksel.github.io/url-encoder
		// background-image: url("data:image/svg+xml, %3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' class='shape-fill'%3E%3C/path%3E%3C/svg%3E");

		background-image: url("/img/wave_black.png");
		background-size: 1000px 100px;

		&1 {
			animation: animate 30s linear infinite;
			z-index: 1000;
			opacity: 1;
			animation-delay: 0s;
			bottom: 0;
		}

		&2 {
			animation: animate2 15s linear infinite;
			z-index: 999;
			opacity: 0.5;
			animation-delay: -5s;
			bottom: 10px;
		}

		&3 {
			animation: animate 30s linear infinite;
			z-index: 998;
			opacity: 0.2;
			animation-delay: -2s;
			bottom: 15px;
		}

		&4 {
			animation: animate2 5s linear infinite;
			z-index: 997;
			opacity: 0.7;
			animation-delay: -5s;
			bottom: 20px;
		}
	}
}

//only_wave keyframes
// 1
@keyframes animate {
	0% {
		background-position-x: 0;
	}

	100% {
		background-position-x: 1000px;
	}
}

// 2
@keyframes animate2 {
	0% {
		background-position-x: 0;
	}

	100% {
		background-position-x: -1000px;
	}
}

.wave_box {
	width: 100%;
	height: 100vh;
	background-color: black;
	position: absolute;
	z-index: 500;
}

$particle-count: 200;
$particle-size: 10px;
$particle-distance: 600px;
$particle-min-speed: 17000; // ms
$particle-max-speed: 20000; // ms
$particle-max-delay: 15000; // ms

//particle : https://codepen.io/Paolo-Duzioni/pen/MQmbJo
.particle-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	.particle {
		z-index: 1;
		opacity: 0;
		position: fixed;
		bottom: -$particle-size;
		width: $particle-size;
		height: $particle-size;
		background-color: rgb(36, 36, 36);
		border-radius: 50%;

		// Randomize bubles
		@for $i from 1 through $particle-count {

			// random animation speed
			$speed: random($particle-max-speed) + 0ms;

			@if $speed < $particle-min-speed {
				$speed: $particle-min-speed + 0ms;
			}

			&:nth-child(#{$i}) {
				left: random(100) + 0%;
				animation: blow $speed infinite;
				animation-delay: random($particle-max-delay) + 0ms;
			}
		}

	}
}

@keyframes blow {
	0% {
		opacity: 0;
		transform: translate(0, 0);
	}

	20% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate(0, -$particle-distance) scale(.2);
	}
}